@import "./variables.scss";
@import "./mixin.scss";

// 主体
.main-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

// 基本标题
.base-title {
  padding: 10px;
  text-align: center;
  .title {
    padding-bottom: 15px;
    font-size: 30px;
    color: $font-color-main;
    &.white {
      color: $white;
    }
  }
  .sub-title {
    font-size: $font-size-small;
    color: $font-color-common;
    &.white {
      color: $white;
    }
  }
}

.back-top {
  @include flex-center-x-center-y;
  position: fixed;
  right: 20px;
  bottom: 100px;
  width: 40px;
  height: 40px;
  background-color: $theme-color;
  z-index: 99999;
  cursor: pointer;
  font-size: 34px;
  font-family: SimSun;
  font-weight: bold;
  color: $white;
  cursor: pointer;
  @include opacity-hover;
  transform: rotate(-90deg);
  &::after {
    content: ">"
  }
}

// 头部
.header {
  height: $header-height;
  background-color: rgba($color: #060b2b, $alpha: 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  transition: 0.3s;
  .main-container {
    height: 100%;
    @include flex-between-x-center-y;
    .logo {
      img {
        height: 55px;
      }
    }
    .right-wrapper {
      height: 100%;
      @include flex-center-y;
      .nav {
        @include flex-wrap;
        a {
          display: block;
          padding: 15px 10px 15px 10px;
          margin: 0 10px;
          flex-direction: column;
          @include flex-between-x-center-y;
          font-size: $font-size-large;
          color: $white;
          border-bottom: 3px solid transparent;
          transition: 0.3s;
          position: relative;
          span {
            line-height: 20px;
            font-size: $font-size-ex-small;
          }
          &:hover,
          &.active {
            color: $theme-sub-color;
            border-bottom: 3px solid $theme-sub-color;
          }
        }
        .secound-nav-box {
          display: block;
          padding: 15px 10px 15px 10px;
          margin: 0 10px;
          flex-direction: column;
          @include flex-between-x-center-y;
          font-size: $font-size-large;
          color: $white;
          border-bottom: 3px solid transparent;
          transition: 0.3s;
          position: relative;
          cursor: pointer;
          span {
            line-height: 20px;
            font-size: $font-size-ex-small;
          }
          .sub-nav {
            position: absolute;
            top: 70px;
            left: 0;
            right: 0;
            padding: 10px;
            background-color: rgba($color: $theme-sub-color, $alpha: 0.8);
            display: none;
            a {
              display: block;
              font-size: $font-size-small;
              line-height: 18px;
              margin: 0;
              border-bottom: 1px solid
                rgba($color: $theme-sub-color, $alpha: 0.8);
              &:last-child {
                border-bottom: none;
              }
            }
            &::after {
              content: "";
              display: block;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              border-bottom: 10px solid $theme-sub-color;
              position: absolute;
              top: -10px;
              left: 50%;
              transform: translate3d(-50%, 0, 0);
              opacity: 0.8;
            }
          }
        }
      }
      .phone-number {
        color: $theme-sub-color-deep;
        padding: 5px 0 5px 20px;
        border-left: 1px solid #535568;
        p {
          font-size: $font-size-base;
        }
        h3 {
          padding-top: 5px;
          font-size: 24px;
        }
      }
    }
  }
}

// 底部
.footer {
  height: $footer-height;
  background-image: url(../images/footer_bg.png);
  @include bg-cover;
  @include flex-center-y;
  .main-container {
    @include flex-between-x-center-y;
    box-sizing: border-box;
    padding-left: 300px;
    .operation {
      color: $white;
      .menus {
        padding-bottom: 19px;
        a {
          font-size: $font-size-medium;
          color: currentColor;
          margin-left: 30px;
          position: relative;
          @include opacity-hover;
          &:hover {
            text-decoration: underline;
          }
          &::after {
            content: "";
            display: block;
            height: 14px;
            width: 1px;
            background-color: $white;
            position: absolute;
            right: -15px;
            top: 3px;
          }
          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            &::after {
              display: none;
            }
          }
        }
      }
      .contact-info {
        font-size: $font-size-small;
        padding-bottom: 19px;
      }
      .reference {
        font-size: $font-size-small;
      }
    }
    .qr-code {
      text-align: center;
      .icon {
        width: 100px;
        height: 100px;
        background-color: $white;
        img {
          width: 100%;
          height: 100%;
        }
      }
      p {
        font-size: $font-size-small;
        color: $white;
        padding-top: 10px;
      }
    }
  }
}

// 专题页头图
.banner {
  height: 600px;
  background-image: url("../images/banner1.png");
  @include bg-cover;
  .main-container {
    height: 100%;
    .title {
      padding-top: 230px;
      font-size: 60px;
      color: $white;
      text-align: center;
      &.no-button {
        padding-top: 280px;
      }
    }
    .desc {
      padding-top: 20px;
      font-size: 24px;
      color: $white;
      text-align: center;
      font-weight: 200;
    }
    .consult-button {
      @include flex-center-x-center-y;
      @include opacity-hover;
      width: 198px;
      height: 45px;
      background: transparent;
      border-radius: 24px;
      border: 2px solid $white;
      font-size: $font-size-ex-large;
      color: $white;
      margin: 60px auto;
      outline: none;
      cursor: pointer;
    }
  }
}

// 专题页头图
.theme-banner {
  height: 600px;
  background: url("../images/banner1.png") no-repeat center center/cover;
  .main-container {
    height: 100%;
    .title {
      padding-top: 230px;
      font-size: 60px;
      color: $white;
      text-align: center;
    }
    .desc {
      padding-top: 20px;
      font-size: 24px;
      color: $white;
      text-align: center;
      font-weight: 200;
    }
    .operation {
      width: 100%;
      height: 100px;
      background-color: $white;
      @include flex-wrap;
      position: absolute;
      bottom: 24px;
      .introduce {
        flex: 0 0 750px;
        height: 100%;
        @include flex-wrap;
        .item {
          flex: 1;
          padding: 21px 30px;
          @include flex-center-y;
          .icon {
            @include flex-center-x-center-y;
            width: 59px;
            height: 59px;
            border: 2px solid $theme-sub-color;
            border-radius: 5px;
          }
          dl {
            padding-left: 20px;
            dt {
              font-size: 30px;
              font-weight: 600;
              color: $theme-sub-color;
              letter-spacing: 2px;
            }
            dd {
              font-size: $font-size-medium;
              color: $font-color-common;
            }
          }
        }
      }
      .leave-message {
        flex: 1;
        padding: 18px;
        background-color: $theme-sub-color;
        @include flex-between-x-center-y;
        .form-item {
          input {
            padding: 0 10px;
            height: 45px;
            background: rgba(255, 255, 255, 0.3);
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 5px;
            color: #f8f8f8;
            font-size: $font-size-medium;
            outline: none;
            &:focus {
              border: 1px solid rgba(255, 255, 255, 1);
            }
            &.name {
              width: 100px;
            }
            &.phone {
              width: 150px;
            }
          }
          button {
            width: 100px;
            height: 45px;
            border: none;
            background: $theme-color;
            border-radius: 5px;
            color: $white;
            font-size: $font-size-medium;
            outline: none;
            cursor: pointer;
            transition: 0.3s;
            &:active {
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
}

.home-services {
  padding-top: 40px;
  padding-bottom: 70px;
  .home-services-list {
    padding-top: 80px;
    @include flex-between-x-center-y;
  }
}

// 服务卡片
.service-card {
  width: 280px;
  height: 380px;
  background-color: #fbfbfb;
  color: #ab8957;
  border-top: 3px solid $white;
  border-bottom: 3px solid $white;
  .cover {
    height: 190px;
    position: relative;
    .bg {
      width: 100%;
      height: 100%;
      @include bg-cover;
    }
    .icon {
      @include flex-center-x-center-y;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      background-color: currentColor;
      position: absolute;
      left: 50%;
      bottom: -28px;
      margin-left: -28px;
      img {
        // width: 30px;
      }
    }
  }
  .info {
    box-sizing: border-box;
    height: 190px;
    padding-top: 40px;
    text-align: center;
    position: relative;
    .name {
      font-size: 24px;
      color: currentColor;
      font-weight: 600;
    }
    .en-name {
      font-size: $font-size-small;
      color: $font-color-common;
      font-weight: 400;
    }
    .text {
      font-size: $font-size-medium;
      color: $font-color-main;
      margin-top: 15px;
      span {
        color: currentColor;
      }
    }
    .button {
      @include flex-center-x-center-y;
      width: 97px;
      height: 32px;
      border-radius: 18px;
      background: rgba(168, 136, 79, 1);
      border: 3px solid rgba(209, 192, 165, 1);
      font-size: $font-size-small;
      color: $white;
      margin: 19px auto 0;
      outline: none;
      cursor: pointer;
      transition: 0.3s;
      &:active {
        border: 3px solid rgba(168, 136, 79, 1);
      }
    }
    .number {
      color: currentColor;
      opacity: 0.15;
      font-size: 90px;
      position: absolute;
      right: -10px;
      bottom: -10px;
      line-height: 1;
    }
  }
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    transform: translate3d(0, -36px, 0);
    color: $theme-color;
    border-top: 3px solid $theme-color;
    border-bottom: 3px solid $theme-color;
    .button {
      background: $theme-color;
      border: 3px solid rgba(161, 165, 180, 1);
      &:active {
        border: 3px solid $theme-color;
      }
    }
  }
}

// 团队介绍
.team {
  box-sizing: border-box;
  height: 660px;
  padding-top: 35px;
  background-image: url(../images/team_bg.png);
  @include bg-cover;
  .team-swiper {
    margin-top: 60px;
    .lawyer-card {
      padding: 0 100px;
    }
  }
  .swiper-pagination {
    padding-top: 40px;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
  }
  .my-bullet {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: $theme-sub-color;
    transform: rotate(45deg);
    margin: 0 15px;
  }
  .my-bullet-active {
    background-color: $white;
    position: relative;
    &::after {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      border: 1px solid $white;
      position: absolute;
      left: -6px;
      top: -6px;
    }
  }
}

// 律师卡片
.lawyer-card {
  @include flex-between-x;
  color: $white;
  &.black {
    padding: 50px 65px;
    background-color: #fafafa;
    color: $theme-color;
    border-left: 12px solid $theme-color;
    .avatar {
      flex: 0 0 270px;
      width: 270px;
      height: 366px;
      border: none;
      position: relative;
      margin-top: 0;
      .image {
        width: 100%;
        height: 366px;
        @include bg-cover;
        position: relative;
        left: 0;
        top: 0;
        z-index: 1;
      }
    }
    .intro {
      .top {
        .consult-button {
          &:hover {
            background-color: $theme-color;
          }
        }
      }
      .medium {
        .exp {
          p {
            span {
              font-weight: 600;
              color: $theme-color;
            }
          }
        }
      }
    }
  }
  .avatar {
    flex: 0 0 270px;
    width: 270px;
    height: 366px;
    border: 2px solid $white;
    position: relative;
    margin-top: 25px;
    .image {
      width: 100%;
      height: 366px;
      @include bg-cover;
      position: absolute;
      left: 24px;
      top: -24px;
      z-index: 99;
    }
  }
  .intro {
    padding-left: 75px;
    flex: 1;
    .top {
      padding-bottom: 20px;
      vertical-align: bottom;
      position: relative;
      border-bottom: 1px solid #535568;
      .name {
        display: inline-block;
        font-size: 30px;
        color: currentColor;
        font-weight: 400;
      }
      .role {
        display: inline-block;
        font-size: $font-size-large;
        color: currentColor;
        padding-left: 20px;
      }
      .consult-button {
        @include flex-center-x-center-y;
        width: 114px;
        height: 32px;
        border-radius: 16px;
        background: $theme-sub-color;
        font-size: $font-size-large;
        color: $white;
        border: none;
        outline: none;
        @include opacity-hover;
        position: absolute;
        right: 0;
        bottom: 14px;
      }
    }
    .medium {
      padding-top: 28px;
      padding-bottom: 30px;
      .exp {
        @include flex-wrap;
        margin-bottom: 28px;
        p {
          font-size: $font-size-large;
          color: currentColor;
          margin-right: 30px;
          span {
            color: #fff100;
          }
        }
      }
      .tags {
        @include flex-wrap;
        span {
          height: 30px;
          padding: 0 27px;
          line-height: 30px;
          border: 1px solid currentColor;
          font-size: $font-size-small;
          color: currentColor;
          margin-left: 23px;
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
    .bottom {
      article {
        font-size: $font-size-small;
        color: currentColor;
        line-height: 21px;
      }
    }
  }
}

// 案例卡片
.case-card--line {
  @include flex-wrap;
  padding: 5px;
  background-color: $white;
  border-bottom: 2px solid transparent;
  .cover {
    width: 150px;
    height: 90px;
    flex: 0 0 150px;
    position: relative;
    .image {
      width: 100%;
      height: 100%;
      @include bg-cover;
    }
    .tag {
      width: 67px;
      height: 25px;
      background-color: $theme-sub-color-deep;
      font-size: $font-size-ex-small;
      color: $white;
      text-align: center;
      line-height: 25px;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  .info {
    padding-left: 15px;
    flex: 1;
    position: relative;
    .top {
      width: 100%;
      .title {
        font-size: $font-size-medium;
        color: $theme-sub-color-deep;
        font-weight: 600;
        @include omit;
        padding-top: 5px;
      }
    }
    .time-views {
      @include flex-wrap;
      padding-top: 10px;
      p {
        font-size: $font-size-ex-small;
        color: $font-color-sub;
      }
    }
    .button {
      @include flex-center-x-center-y;
      width: 80px;
      height: 25px;
      border-radius: 13px;
      border: 1px solid $theme-sub-color;
      font-size: $font-size-ex-small;
      color: $theme-sub-color;
      outline: none;
      @include opacity-hover;
      position: absolute;
      right: 16px;
      bottom: 10px;
    }
  }
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    transform: translate3d(0, -12px, 0);
    border-bottom: 2px solid $theme-color;
    .cover {
      .tag {
        background-color: $theme-color;
      }
    }
    .info {
      .top {
        .title {
          color: $theme-color;
        }
      }
      .button {
        background-color: $theme-color;
        border: 1px solid $theme-color;
        color: $white;
      }
    }
  }
}

.case-card--card {
  width: 358px;
  background-color: $white;
  border-top: 5px solid transparent;
  .cover {
    height: 215px;
    position: relative;
    .image {
      width: 100%;
      height: 100%;
      @include bg-cover;
    }
  }
  .info {
    padding: 20px 20px 40px 20px;
    position: relative;
    .title {
      font-size: $font-size-medium;
      color: $theme-sub-color-deep;
      font-weight: 600;
      @include omit;
    }
    .context {
      padding: 20px 0;
      font-size: $font-size-small;
      color: $font-color-common;
      line-height: 20px;
    }
    .bottom {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 39px;
      background-color: #e4e3e3;
      padding: 0 20px;
      @include flex-between-x-center-y;
      .time-views {
        @include flex-wrap;
        p {
          font-size: $font-size-ex-small;
          color: $font-color-sub;
        }
      }
      .button {
        @include flex-center-x-center-y;
        width: 80px;
        height: 25px;
        border-radius: 13px;
        background-color: transparent;
        border: 1px solid $theme-sub-color;
        font-size: $font-size-ex-small;
        color: $theme-sub-color;
        outline: none;
        @include opacity-hover;
      }
    }
  }
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    transform: translate3d(0, -12px, 0);
    border-top: 5px solid $theme-color;
    .cover {
      .tag {
        background-color: $theme-color;
      }
    }
    .info {
      .title {
        color: $theme-color;
      }
      .button {
        border: 1px solid $theme-color;
        color: $theme-color;
      }
    }
  }
}

.case-card--full {
  @include flex-center-y;
  background-color: #f4f4f4;
  border-bottom: 2px solid $theme-sub-color;
  .tag {
    width: 54px;
    height: 200px;
    flex: 0 0 54px;
    background-color: $theme-sub-color-deep;
    font-size: 24px;
    color: $white;
    @include flex-center-x-center-y;
    writing-mode: vertical-rl;
    transition: 0.3s;
  }
  .cover {
    width: 259px;
    height: 156px;
    flex: 0 0 259px;
    position: relative;
    padding: 0 29px;
    .image {
      width: 100%;
      height: 100%;
      @include bg-cover;
    }
  }
  .info {
    flex: 1;
    height: 156px;
    position: relative;
    .top {
      width: 100%;
      .title {
        font-size: $font-size-large;
        color: #111111;
        font-weight: 600;
        @include omit;
      }
    }
    .time-views {
      @include flex-wrap;
      padding-top: 10px;
      padding-bottom: 10px;
      p {
        font-size: $font-size-ex-small;
        color: $font-color-sub;
      }
    }
    .context {
      font-size: $font-size-small;
      color: #333;
      line-height: 22px;
    }
    .button {
      @include flex-center-x-center-y;
      width: 80px;
      height: 25px;
      border: none;
      font-size: $font-size-ex-small;
      color: $theme-sub-color;
      outline: none;
      @include opacity-hover;
      position: absolute;
      right: 16px;
      bottom: -22px;
    }
  }
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    // transform: translate3d(0, -12px, 0);
    border-bottom: 2px solid $theme-color;
    .tag {
      background-color: $theme-color;
    }
    .info {
      .top {
        .title {
          color: $theme-color;
        }
      }
      .button {
        background-color: $theme-color;
        border: 1px solid $theme-color;
        color: $white;
      }
    }
  }
}

.feature-card {
  @include flex-wrap;
  .icon {
    flex: 0 0 60px;
    width: 60px;
    height: 60px;
    @include flex-center-x-center-y;
    img {
    }
  }
  dl {
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
    dt {
      font-size: 24px;
      color: #090b20;
      padding-bottom: 10px;
      span {
        color: $theme-sub-color;
      }
    }
    dd {
      font-size: $font-size-small;
      color: $font-color-common;
      line-height: 21px;
    }
  }
}

.medium-advert {
  height: 140px;
  background-image: url(../images/medium_advert_bg.jpeg);
  @include bg-cover;
  .main-container {
    @include flex-between-x-center-y;
    height: 140px;
    .contact {
      flex: 0 0 380px;
      @include flex-between-x;
      position: relative;
      .phone-number {
        color: $white;
        p {
          font-size: $font-size-large;
          padding-bottom: 20px;
        }
        h3 {
          font-size: 36px;
          font-weight: 400;
        }
      }
      .consult {
        position: absolute;
        right: 50px;
        bottom: 7px;
        .button {
          @include flex-center-x-center-y;
          @include opacity-hover;
          width: 80px;
          height: 25px;
          border: 1px solid $white;
          border-radius: 13px;
          background-color: transparent;
          font-size: $font-size-small;
          color: $white;
        }
      }
    }
    .statistics {
      flex: 1;
      padding-left: 30px;
      .statistics-list {
        @include flex-wrap;
        .statistics-card {
          color: $white;
          text-align: center;
          padding: 0 35px;
          img {
          }
          .text {
            font-size: $font-size-large;
            line-height: 30px;
          }
          .number {
            font-size: 24px;
            font-weight: 600;
          }
        }
        .plus {
          display: block;
          width: 46px;
          height: 46px;
          position: relative;
          transform: translate3d(0, 30px, 0);
          &::after {
            content: "";
            display: block;
            width: 46px;
            height: 1px;
            background: #d2bf9a;
            position: absolute;
            left: 0;
            top: 22px;
          }
          &::before {
            content: "";
            display: block;
            width: 1px;
            height: 46px;
            background: #d2bf9a;
            position: absolute;
            top: 0;
            left: 22px;
          }
        }
      }
    }
  }
}

// 案例
.case {
  padding-top: 32px;
  padding-bottom: 34px;
  background-color: #f4f4f4;
  background-image: linear-gradient(90deg, $white 5%, rgba(0, 0, 0, 0) 5%),
    linear-gradient($white 5%, rgba(0, 0, 0, 0) 5%);
  background-size: 20px 20px;
  .more {
    padding-top: 10px;
    @include flex-center-x;
    .button {
      @include flex-center-x-center-y;
      width: 202px;
      height: 39px;
      border-radius: 20px;
      background: $white;
      border: 1px solid $theme-sub-color;
      font-size: $font-size-medium;
      color: $theme-sub-color-deep;
      outline: none;
      @include opacity-hover;
    }
  }
}

.home-case-list {
  @include flex-wrap;
  padding-top: 36px;
  li {
    box-sizing: border-box;
    width: 50%;
    padding: 0 33px 24px 0;
  }
}

.theme-case-list {
  padding-top: 30px;
  @include flex-wrap;
  li {
    box-sizing: border-box;
    width: 33.3%;
    padding: 0 33px 24px 0;
    @include flex-between-x;
  }
}

.feature {
  padding-top: 37px;
  .main-container {
    box-sizing: border-box;
    padding-top: 14px;
    padding-left: 48px;
    padding-right: 48px;
    @include flex-between-x-center-y;
    .feature-container {
      flex: 1;
      padding-right: 30px;
      .home-feature-list {
        @include flex-wrap;
        padding-top: 30px;
        li {
          box-sizing: border-box;
          width: 50%;
          &:nth-child(1) {
            padding-bottom: 40px;
            border-bottom: 1px solid #e3e3e3;
            border-right: 1px solid #e3e3e3;
          }
          &:nth-child(2) {
            padding-bottom: 40px;
            padding-left: 40px;
            border-bottom: 1px solid #e3e3e3;
          }
          &:nth-child(3) {
            padding-top: 40px;
            border-right: 1px solid #e3e3e3;
          }
          &:nth-child(4) {
            padding-top: 40px;
            padding-left: 40px;
          }
        }
      }
      .consult {
        padding-top: 40px;
        @include flex-center-x;
        .button {
          @include flex-center-x-center-y;
          width: 180px;
          height: 40px;
          border: 2px solid $theme-sub-color;
          border-radius: 20px;
          font-size: $font-size-large;
          color: $theme-sub-color;
          outline: none;
          @include opacity-hover;
        }
      }
    }
    .image {
      flex: 0 0 378px;
      width: 378px;
      height: 430px;
      @include bg-cover;
    }
  }
}

.our-power-qualification {
  padding-top: 35px;
  padding-bottom: 50px;
  .main-container {
    .power {
      padding-top: 43px;
      padding-bottom: 35px;
      @include flex-wrap;
      .left-wrapper {
        flex: 1;
        article {
          font-size: $font-size-small;
          color: #111111ff;
          line-height: 28px;
        }
      }
      .right-wrapper {
        flex: 0 0 449px;
        width: 449px;
        height: 310px;
        margin: 0 30px 0 80px;
        position: relative;
        &::after {
          content: "";
          display: block;
          width: 116px;
          height: 116px;
          background-color: $theme-color;
          position: absolute;
          right: -21px;
          bottom: -21px;
          z-index: -1;
        }
        .power-swiper {
          width: 449px;
          .power-image {
            width: 449px;
            height: 310px;
            @include bg-cover;
          }
        }
        .swiper-pagination {
          bottom: 15px;
          left: 20px;
          .swiper-pagination-bullet {
            width: 40px;
            height: 4px;
            border-radius: 0;
            margin-right: 10px;
            background-color: $white;
          }
          .swiper-pagination-bullet-active {
            background-color: $theme-color;
          }
        }
        .button {
          @include flex-center-x-center-y;
          width: 52px;
          height: 52px;
          font-size: 34px;
          font-family: SimSun;
          font-weight: bold;
          color: rgba(255, 255, 255, 1);
          position: absolute;
          bottom: 0;
          left: -52px;
          cursor: pointer;
          @include opacity-hover;
          &.prev {
            bottom: 52px;
            background-color: $theme-color;
            &::after {
              content: "<";
            }
          }
          &.next {
            background-color: $theme-sub-color;
            &::after {
              content: ">";
            }
          }
        }
        .dot {
          position: absolute;
          right: -15px;
          top: -23px;
          @include flex-wrap;
          i {
            display: block;
            width: 9px;
            height: 9px;
            background-color: $theme-sub-color;
            margin-left: 8px;
            &:nth-child(1) {
              opacity: 0.2;
            }
            &:nth-child(2) {
              opacity: 0.4;
            }
            &:nth-child(3) {
              opacity: 0.6;
            }
            &:nth-child(4) {
              opacity: 0.8;
            }
          }
        }
      }
    }
    .qualification {
      padding-top: 36px;
      border-top: 1px solid #f0f0f0;
      position: relative;
      .qualification-swiper {
        width: 1100px;
        margin: 0 auto;
        .qualification-image {
          width: 246px;
          height: 184px;
          margin: 0 auto;
          @include bg-cover;
        }
      }
      .swiper-button-prev {
        left: 0;
        top: 50%;
        margin-top: -6px;
      }
      .swiper-button-next {
        right: 0;
        top: 50%;
        margin-top: -6px;
      }
    }
  }
}

// 我们的服务与优势
.services-and-feature {
  padding-top: 40px;
  padding-bottom: 40px;
  .main-container {
    padding-top: 30px;
    @include flex-between-x;
    .left-wrapper {
      padding-left: 29px;
      .theme-feature {
        box-sizing: border-box;
        padding-top: 30px;
        width: 492px;
        height: 615px;
        background-color: $theme-sub-color;
        background-image: url(../images/pc_feature_bg.jpg);
        @include bg-cover;
        .title {
          width: 363px;
          height: 58px;
          background-color: $theme-color;
          position: relative;
          left: -29px;
          text-align: center;
          font-size: 28px;
          color: $white;
          line-height: 58px;
        }
        .introduce {
          margin: 26px 32px;
          padding-bottom: 30px;
          border-bottom: 1px solid #bca177;
          .item {
            @include flex-center-y;
            margin-top: 31px;
            &:first-child {
              margin-top: 0;
            }
            .icon {
              @include flex-center-x-center-y;
              width: 66px;
              height: 66px;
              border-radius: 50%;
              border: 2px solid $white;
              img {
              }
            }
            dl {
              flex: 1;
              padding-left: 20px;
              color: $white;
              dt {
                font-size: 24px;
                padding-bottom: 10px;
              }
              dd {
                font-size: $font-size-large;
              }
            }
          }
        }
        .consult-button {
          @include flex-center-x-center-y;
          display: block;
          width: 250px;
          height: 50px;
          background: $theme-color;
          border-radius: 25px;
          font-size: 24px;
          color: $white;
          outline: none;
          @include opacity-hover;
          border: none;
          margin: 0 auto;
        }
      }
    }
    .right-wrapper {
      flex: 1;
      box-sizing: border-box;
      height: 615px;
      padding: 15px;
      background-color: #f8f8f8ff;
      ul {
        @include flex-wrap;
        li {
          width: 50%;
          .theme-service-card {
            box-sizing: border-box;
            padding: 15px;
            cursor: pointer;
            .image {
              height: 150px;
              @include bg-cover;
            }
            .title {
              padding: 18px 0;
              font-size: $font-size-ex-large;
              color: $theme-color;
              border-bottom: 1px solid #b2b2bd;
              margin-bottom: 8px;
              @include omit;
            }
            .desc {
              height: 48px;
              font-size: $font-size-small;
              color: $font-color-common;
              line-height: 24px;
            }
          }
        }
      }
    }
  }
}

.team-page-list {
  padding-top: 50px;
  li {
    margin-bottom: 30px;
  }
}

.case-page-list {
  padding-top: 50px;
  li {
    margin-bottom: 30px;
  }
}

.web-article-container {
  box-sizing: border-box;
  min-height: calc(100vh - #{$footer-height});
  padding-top: $header-height;
  .main-container {
    padding-top: 30px;
    padding-bottom: 30px;
    .title {
      font-size: 24px;
      color: $font-color-main;
      text-align: center;
    }
    .tag-info {
      @include flex-center-x-center-y;
      padding: 10px;
      border-top: 1px solid #e7e7e7;
      border-bottom: 1px solid #e7e7e7;
      margin-top: 30px;
      margin-bottom: 20px;
      p {
        font-size: $font-size-ex-small;
        color: $font-color-common;
      }
    }
    .article {
      font-size: $font-size-medium;
      line-height: 1.8;
      color: $font-color-common;
      img {
        max-width: 100%;
        margin: 20px auto;
      }
    }
  }
}
