@charset "utf-8";
// flex布局
@mixin flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin flex-center-x {
  display: flex;
  justify-content: center;
}

@mixin flex-between-x {
  display: flex;
  justify-content: space-between;
}

@mixin flex-center-y {
  display: flex;
  align-items: center;
}

@mixin flex-center-x-center-y {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between-x-center-y {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-around-x-center-y {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

// transition
@mixin transition {
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}

// text-nowrap
@mixin no-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin omit {
  overflow: hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

@mixin opacity-hover {
  cursor: pointer;
  transition: 0.3s;
  &:active {
    opacity: 0.6;
  }
}

@mixin bg-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@mixin bg-contain {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}