@import "./variables.scss";
@import "./mixin.scss";

html {
  -webkit-text-size-adjust: none;
}

body {
  padding-top: $mobile-header-height;
  padding-bottom: $mobile-contact-height;
}

.base-title {
  font-size: $font-size-small;
  color: $font-color-main;
  text-align: center;
  position: relative;
  padding-bottom: 9px;
  padding-top: 15px;
  &::after {
    content: "";
    display: block;
    width: 14px;
    height: 2px;
    background-color: $theme-sub-color;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate3d(-50%, 0, 0);
  }
}

.row {
  box-sizing: border-box;
  padding: 0 7px;
  @include flex-wrap;
  margin-left: -7px;
  margin-right: -7px;
  .col {
    &.span-1 {
      box-sizing: border-box;
      width: 100%;
      padding: 0 7px;
    }
    &.span-2 {
      box-sizing: border-box;
      width: 50%;
      padding: 0 7px;
    }
  }
}

.red {
  width: 100%;
  height: 50px;
  background-color: red;
}

.mobile-header {
  height: $mobile-header-height;
  background-color: $theme-color;
  @include flex-center-x-center-y;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 998;
  h1 {
    font-size: $font-size-large;
    color: $white;
  }
  .mobile-nav {
    position: fixed;
    left: 0;
    right: 0;
    top: $mobile-header-height;
    bottom: 0;
    z-index: 999;
    background-color: rgba($color: #060b2b, $alpha: 0.9);
    display: none;
    .nav-one {
      display: block;
      height: 50px;
      padding-left: 20px;
      line-height: 50px;
      color: $white;
      // border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2);
    }
    .nav-two-box {
      p {
        display: block;
        height: 50px;
        padding-left: 20px;
        line-height: 50px;
        color: $white;
      }
      .nav-two {
        display: block;
        height: 50px;
        padding-left: 40px;
        line-height: 50px;
        color: $white;
      }
    }
  }
  .nav-button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    span {
      display: block;
      width: 22px;
      height: 3px;
      background-color: $white;
      margin: 2px 15px;
      transition: 0.3s;
    }
    &.active {
      span {
        &:nth-child(1) {
          width: 26px;
          transform: translate3d(0, 3px, 0) rotate(45deg);
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          width: 26px;
          transform: translate3d(0, -4px, 0) rotate(-45deg);
        }
      }
    }
  }
}

.banner {
  height: 142px;
  background-image: url("../images/banner1.png");
  @include bg-cover;
  .title {
    padding-top: 30px;
    font-size: $font-size-ex-large;
    color: $white;
    text-align: center;
    &.no-button {
      padding-top: 50px;
    }
  }
  .desc {
    padding-top: 10px;
    font-size: 10px;
    color: $white;
    text-align: center;
    font-weight: 200;
  }
  .consult-button {
    @include flex-center-x-center-y;
    @include opacity-hover;
    width: 92px;
    height: 21px;
    background: transparent;
    border-radius: 11px;
    border: 1px solid $white;
    font-size: 9px;
    color: $white;
    margin: 11px auto;
    outline: none;
    cursor: pointer;
  }
}

.mobile-home-services {
  padding: 0 7px;
  padding-bottom: 16px;
  border-bottom: 5px solid #e5e5e5;
  .card {
    height: 64px;
    @include bg-cover;
    margin-top: 16px;
    h2 {
      font-size: $font-size-small;
      color: $font-color-main;
      padding: 18px 0 6px 10px;
      line-height: 1;
    }
    p {
      padding-left: 10px;
      font-size: 9px;
      color: $font-color-main;
      line-height: 1;
      b {
        color: $theme-sub-color;
        font-weight: 600px;
        font-size: 11px;
      }
    }
  }
}

.mobile-home-team {
  padding: 0 7px;
  .card {
    @include flex-center-y;
    padding: 19px 0;
    border-bottom: 1px solid #f5f5f5;
    .cover {
      flex: 0 0 73px;
      width: 73px;
      height: 73px;
      border-radius: 50%;
      overflow: hidden;
      @include bg-cover;
    }
    .intro {
      box-sizing: border-box;
      flex: 1;
      padding-left: 13px;
      .title {
        font-size: $font-size-ex-small;
        font-weight: 400;
        &::after {
          content: "";
          display: inline-block;
          width: 11px;
          height: 9px;
          background-image: url(../images/vip.png);
          @include bg-cover;
          margin-left: 5px;
        }
        b {
          font-size: 10px;
        }
      }
      .exp {
        @include flex-wrap;
        padding-top: 6px;
        p {
          font-size: 9px;
          color: #000;
          margin-right: 5px;
          b {
            color: $theme-sub-color;
          }
        }
      }
      .feature {
        padding-top: 6px;
        font-size: 9px;
        color: #000;
      }
      .button-wrapper {
        padding-top: 8px;
        @include flex-wrap;
        .button {
          @include flex-center-x-center-y;
          width: 57px;
          height: 16px;
          border-radius: 8px;
          border: 1px solid $theme-sub-color;
          font-size: 9px;
          color: $theme-sub-color;
          margin-right: 13px;
          &.plain {
            background-color: $theme-sub-color;
            color: $white;
          }
        }
      }
    }
  }
  .more {
    padding: 15px 0;
    @include flex-center-x;
    .button {
      @include flex-center-x-center-y;
      width: 121px;
      height: 26px;
      background: rgba(229, 229, 229, 1);
      opacity: 0.52;
      border-radius: 13px;
      font-size: 9px;
      font-weight: 400;
      color: rgba(112, 112, 112, 1);
      line-height: 13px;
    }
  }
}

.medium-advert {
  position: relative;
  height: 64px;
  padding-left: 30px;
  background-image: url(../images/team_bg.png);
  @include bg-cover;
  .top {
    padding-top: 13px;
    padding-bottom: 8px;
    .title {
      font-size: 11px;
      color: $white;
    }
  }
  .bottom {
    @include flex-center-y;
    .phone {
      font-size: 19px;
      color: $white;
      font-weight: 600;
      line-height: 1;
    }
    .button {
      @include flex-center-x-center-y;
      width: 69px;
      height: 20px;
      font-size: 11px;
      color: $white;
      border: 1px solid $white;
      border-radius: 10px;
      margin-left: 20px;
    }
  }
  .image {
    @include bg-cover;
    width: 70px;
    height: 80px;
    background-image: url(../images/mobile_people.png);
    position: absolute;
    right: 28px;
    bottom: 0;
  }
}

.mobile-home-case {
  padding: 0 7px;
  border-bottom: 5px solid #e5e5e5;
  .card {
    margin-top: 14px;
    .cover {
      height: 91px;
      overflow: hidden;
      @include bg-cover;
    }
    .intro {
      padding-top: 9px;
      padding-bottom: 9px;
      border-bottom: 1px solid #e5e5e5;
      .title {
        height: 38px;
        font-size: $font-size-ex-small;
        color: #000000;
        line-height: 19px;
      }
      .time-views {
        padding-top: 9px;
        @include flex-between-x-center-y;
        color: #999999;
        p {
          font-size: 9px;
          @include flex-center-y;
          &::before {
            content: "";
            display: inline-block;
            width: 11px;
            height: 11px;
            @include bg-contain;
            margin-right: 5px;
          }
          &.time {
            &::before {
              background-image: url(../images/icon_clock.png);
            }
          }
          &.views {
            &::before {
              background-image: url(../images/icon_eye.png);
            }
          }
        }
      }
    }
  }
  .more {
    padding: 15px 0;
    @include flex-center-x;
    .button {
      @include flex-center-x-center-y;
      width: 121px;
      height: 26px;
      background: rgba(229, 229, 229, 1);
      opacity: 0.52;
      border-radius: 13px;
      font-size: 9px;
      font-weight: 400;
      color: rgba(112, 112, 112, 1);
      line-height: 13px;
    }
  }
}

.mobile-brand-services-feature {
  padding: 0 7px;
  .card {
    @include flex-wrap;
    margin-top: 14px;
    padding: 10px;
    .icon {
      @include flex-center-x-center-y;
      width: 27px;
      height: 27px;
      img {
        max-width: 100%;
      }
    }
    dl {
      flex: 1;
      padding-left: 10px;
      dt {
        font-size: $font-size-ex-small;
        color: #090b20;
        padding-bottom: 5px;
        span {
          color: $theme-sub-color;
        }
      }
      dd {
        font-size: $font-size-ex-small;
        color: $font-color-common;
      }
    }
  }
  .num-1 {
    border-bottom: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    position: relative;
    &::after {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      background-color: $white;
      border-radius: 50%;
      position: absolute;
      right: -12px;
      bottom: -12px;
      z-index: 999;
    }
  }
  .num-2 {
    border-bottom: 1px solid #e8e8e8;
    position: relative;
    &::after {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      background-color: $white;
      position: absolute;
      left: -12px;
      top: 0;
    }
  }
  .num-3 {
    border-right: 1px solid #e8e8e8;
    position: relative;
    &::after {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      background-color: $white;
      position: absolute;
      right: -12px;
      bottom: 0;
    }
  }
}

.mobile-percent {
  height: 56px;
  background-image: url(../images/mobile_percent_bg.png);
  @include bg-cover;
  @include flex-around-x-center-y;
  .item {
    color: $white;
    text-align: center;
    .title {
      padding-bottom: 5px;
      font-size: 11px;
    }
    .value {
      font-size: $font-size-small;
      font-weight: 600;
    }
  }
}

.mobile-power {
  margin: 0 7px;
  padding-bottom: 30px;
  .article {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: $font-size-ex-small;
    line-height: 20px;
    color: $font-color-common;
  }
  .swiper-slide {
    height: 73px;
    @include bg-cover;
  }
  .swiper-pagination {
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    .swiper-pagination-bullet {
      margin: 0 5px;
    }
    .swiper-pagination-bullet-active {
      background-color: $theme-sub-color;
    }
  }
}

.mobile-footer {
  background-color: $theme-color;
  padding: 14px;
  color: $white;
  .menus {
    @include flex-between-x;
    a {
      font-size: 9px;
      color: currentColor;
    }
  }
  .contact-info {
    padding: 10px 0;
    font-size: 9px;
    color: currentColor;
    text-align: center;
  }
  .reference {
    font-size: 9px;
    color: currentColor;
    text-align: center;
  }
}

.mobile-contact-wrapper {
  @include flex-between-x-center-y;
  height: $mobile-contact-height;
  background-color: $white;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 90;
  border-top: 1px solid #e7e7e7;
  .left-wrapper {
    @include flex-wrap;
    padding-left: 15px;
    img {
      width: 33px;
      height: 33px;
    }
    dl {
      padding-left: 9px;
      dt {
        padding-bottom: 4px;
        color: $font-color-main;
        font-size: $font-size-small;
      }
      dd {
        color: $font-color-common;
        font-size: 11px;
      }
    }
  }
  .right-wrapper {
    @include flex-center-y;
    .button {
      @include flex-center-x-center-y;
      width: 76px;
      height: 25px;
      padding: 0 2px;
      background-color: $theme-color;
      color: $white;
      margin-right: 12px;
      border-radius: 13px;
      font-size: $font-size-ex-small;
      img {
        width: 16px;
        height: 16px;
        margin-right: 4px;
      }
      b {
        position: relative;
      }
    }
  }
}

.top-percent {
  @include flex-between-x-center-y;
  height: 47px;
  padding: 0 17px;
  background-color: #eeeeee;
  .item {
    @include flex-center-y;
    .icon {
      @include flex-center-x-center-y;
      width: 28px;
      height: 28px;
      border-radius: 4px;
      border: 1px solid $theme-sub-color;
      img {
        width: 17px;
        height: 17px;
      }
    }
    dl {
      padding-left: 8px;
      dt {
        font-size: $font-size-small;
        color: $theme-sub-color;
        font-weight: 400;
      }
      dd {
        font-size: 9px;
        color: $font-color-common;
      }
    }
  }
}

.mobile-labor-range {
  padding: 7px;
  background-color: $white;
  .card {
    background-color: #f5f5f5;
    margin-bottom: 14px;
    border-bottom: 2px solid $theme-sub-color;
    .image {
      height: 79px;
      @include bg-cover;
    }
    .info {
      padding: 7px;
      .title {
        padding-bottom: 6px;
        font-size: $font-size-small;
        color: $theme-sub-color;
      }
      .intro {
        font-size: 9px;
        color: $font-color-common;
      }
    }
  }
}

.mobile-features {
  width: 100%;
  img {
    width: 100%;
  }
  // background-color: $theme-sub-color;
  // position: relative;
  // @include flex-center-y;
  // ul {
  //   padding-left: 20px;
  //   z-index: 999;
  //   li {
  //     padding-top: 10px;
  //     .title {
  //       @include flex-wrap;
  //       box-sizing: border-box;
  //       padding-left: 10px;
  //       width: 194px;
  //       height: 18px;
  //       background-color: #22223DFF;
  //       vertical-align: bottom;
  //       color: $white;
  //       transform: skewX(-45deg);
  //       .ch {
  //         font-size: 11px;
  //       }
  //       .en {
  //         font-size: 8px;
  //         color: #AAAAD8FF;
  //       }
  //     }
  //     .desc {
  //       padding-top: 3px;
  //       font-size: 12px;
  //       color: $white;
  //     }
  //     &:nth-child(odd) {
  //       .title {
  //         background-color: #313161FF;
  //       }
  //     }
  //     &:nth-child(1) {
  //       padding-left: 23px;
  //     }
  //     &:nth-child(4) {
  //       padding-left: 23px;
  //     }
  //   }
  // }
  // .image {
  //   width: 130px;
  //   height: 197px;
  //   background-image: url(../images/mobile_feature_bg.png);
  //   @include bg-cover;
  //   position: absolute;
  //   right: 0;
  //   top: 0;
  // }
}

.case-page-list {
  padding: 0 7px;
  min-height: calc(100vh - 340px);
  .card {
    margin-top: 14px;
    padding-bottom: 16px;
    @include flex-wrap;
    border-bottom: 1px solid #e5e5e5;
    .cover {
      flex: 0 0 96px;
      width: 96px;
      height: 62px;
      overflow: hidden;
      @include bg-cover;
    }
    .intro {
      flex: 1;
      padding-left: 9px;
      .title {
        height: 38px;
        font-size: $font-size-ex-small;
        color: #000000;
        line-height: 19px;
      }
      .time-views {
        padding-top: 9px;
        @include flex-between-x-center-y;
        color: #999999;
        p {
          font-size: 9px;
          @include flex-center-y;
          &::before {
            content: "";
            display: inline-block;
            width: 11px;
            height: 11px;
            @include bg-contain;
            margin-right: 5px;
          }
          &.time {
            &::before {
              background-image: url(../images/icon_clock.png);
            }
          }
          &.views {
            &::before {
              background-image: url(../images/icon_eye.png);
            }
          }
        }
      }
    }
  }
}

.team-page-list {
  padding: 0 7px;
  min-height: calc(100vh - 340px);
  .card {
    @include flex-center-y;
    padding: 19px 0;
    border-bottom: 1px solid #f5f5f5;
    .cover {
      flex: 0 0 73px;
      width: 73px;
      height: 73px;
      border-radius: 50%;
      overflow: hidden;
      @include bg-cover;
    }
    .intro {
      box-sizing: border-box;
      flex: 1;
      padding-left: 13px;
      .title {
        font-size: $font-size-ex-small;
        font-weight: 400;
        &::after {
          content: "";
          display: inline-block;
          width: 11px;
          height: 9px;
          background-image: url(../images/vip.png);
          @include bg-cover;
          margin-left: 5px;
        }
        b {
          font-size: 10px;
        }
      }
      .exp {
        @include flex-wrap;
        padding-top: 6px;
        p {
          font-size: 9px;
          color: #000;
          margin-right: 5px;
          b {
            color: $theme-sub-color;
          }
        }
      }
      .feature {
        padding-top: 6px;
        font-size: 9px;
        color: #000;
      }
      .button-wrapper {
        padding-top: 8px;
        @include flex-wrap;
        .button {
          @include flex-center-x-center-y;
          width: 57px;
          height: 16px;
          border-radius: 8px;
          border: 1px solid $theme-sub-color;
          font-size: 9px;
          color: $theme-sub-color;
          margin-right: 13px;
          &.plain {
            background-color: $theme-sub-color;
            color: $white;
          }
        }
      }
    }
  }
  .article {
    font-size: $font-size-ex-small;
    color: $font-color-common;
    line-height: 1.6;
    padding: 12px;
    border-top: 2px solid $theme-sub-color;
  }
}