$theme-color: #29294D;
$theme-sub-color: #B78E46;
$theme-sub-color-deep: #A8884F;
$white: #fff;
$font-color-main: #00053E;
$font-color-common: #666666;
$font-color-sub: #999999;

$font-size-ex-small: 12px;
$font-size-small: 13px;
$font-size-base: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;
$font-size-ex-large: 20px;

$header-height: 120px;
$footer-height: 200px;

$mobile-header-height: 44px;
$mobile-contact-height: 49px;