@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?bbmgu9");
  src: url("../fonts/icomoon.eot?bbmgu9#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?bbmgu9") format("truetype"), url("../fonts/icomoon.woff?bbmgu9") format("woff"), url("../fonts/icomoon.svg?bbmgu9#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-location:before {
  content: "\e90a";
}

.icon-phone:before {
  content: "\e90b";
}

.icon-arrow-right:before {
  content: "\e905";
}

.icon-arrow-left:before {
  content: "\e906";
}

.icon-arrow-right-round-long:before {
  content: "\e907";
}

.icon-arrow-left-round-long:before {
  content: "\e908";
}

.icon-play:before {
  content: "\e909";
}

.icon-arrow-right-long:before {
  content: "\e904";
}

.icon-close:before {
  content: "\e903";
}

.icon-arrow-right-round:before {
  content: "\e900";
}

.icon-arrow-left-round:before {
  content: "\e901";
}

.icon-search:before {
  content: "\e902";
}

@media (min-width: 1200px) {
  .container {
    max-width: 1240px;
  }
}
.gutters-9 {
  margin-right: 9px;
  margin-left: 9px;
}
.gutters-9 > .col,
.gutters-9 > [class*="col-"] {
  padding-right: 9px;
  padding-left: 9px;
}

.gutters-10 {
  margin-right: 10px;
  margin-left: 10px;
}
.gutters-10 > .col,
.gutters-10 > [class*="col-"] {
  padding-right: 10px;
  padding-left: 10px;
}

.no-gutters {
  margin-right: 0px;
  margin-left: 0px;
}
.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0px;
  padding-left: 0px;
}

@media (max-width: 768px) {
  .container {
    padding-right: 0;
    padding-left: 0;
  }

  .gutters-9 {
    margin-right: 0;
    margin-left: 0;
  }
  .gutters-9 > .col,
  .gutters-9 > [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
  }

  .gutters-10 {
    margin-right: 0;
    margin-left: 0;
  }
  .gutters-10 > .col,
  .gutters-10 > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
body {
  background-color: #f9f9f9;
}

.mb-20 {
  margin-bottom: 20px;
}

.mobile-blank {
  height: 0;
}

@media (min-width: 1200px) {
  .header {
    height: 150px;
    background-color: #fff;
    box-shadow: 4px 5px 8px 0px rgba(220, 220, 220, 0.44);
  }
  .header .top {
    height: 90px;
  }
  .header .top .content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
  }
  .header .top .content .logo {
    padding-left: 20px;
  }
  .header .top .content .search-bar {
    width: 386px;
    height: 35px;
    border-radius: 4px;
    border: 1px solid #0077E0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .top .content .search-bar .input {
    flex: 1;
  }
  .header .top .content .search-bar .input input {
    width: 100%;
    height: 33px;
    line-height: 33px;
    border: none;
    outline: none;
    text-indent: 10px;
    font-size: 14px;
    color: #515A6E;
  }
  .header .top .content .search-bar .submit-icon {
    flex: 0 0 75px;
    width: 75px;
    height: 35px;
    background-color: #0077E0;
    text-align: center;
    line-height: 35px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
  }
  .header .top .content .search-bar .submit-icon:active {
    opacity: 0.8;
  }
  .header .bottom {
    height: 60px;
  }
  .header .bottom .web-navs {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
  }
  .header .bottom .web-navs a {
    display: inline-block;
    margin: 0 46px;
    font-size: 16px;
    color: #181F2D;
    line-height: 60px;
    font-weight: 400;
    text-decoration: none;
    position: relative;
  }
  .header .bottom .web-navs a:hover {
    color: #0077E0;
  }
  .header .bottom .web-navs a.active {
    color: #0077E0;
  }
  .header .bottom .web-navs a.active::after {
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: currentColor;
  }
}
.bread-nav {
  font-size: 14px;
  color: #515a6e;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.bread-nav::before {
  content: "";
  display: block;
  width: 3px;
  height: 14px;
  background: #1679fa;
  margin-right: 10px;
}
.bread-nav span {
  display: block;
  padding: 0 5px;
}

.footer {
  background-color: #333d49;
}
.footer .top {
  height: 250px;
}
.footer .top .footer-part {
  padding-top: 29px;
  padding-left: 0;
  padding-right: 0;
}
.footer .top .footer-part .footer-title {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}
.footer .top .footer-part .links {
  padding-top: 10px;
}
.footer .top .footer-part .links a {
  display: inline-block;
  margin-right: 20px;
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 300;
  color: white;
  line-height: 32px;
}
.footer .top .footer-part .contacts {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
.footer .top .footer-part .contacts p {
  display: flex;
  align-items: center;
  width: 50%;
  margin-bottom: 0px;
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 300;
  color: white;
  line-height: 32px;
}
.footer .top .footer-part .contacts p::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-right: 5px;
}
.footer .top .footer-part .contacts p.building::before {
  background-image: url(../images/building.png);
}
.footer .top .footer-part .contacts p.phone::before {
  background-image: url(../images/phone.png);
}
.footer .top .footer-part .contacts p.email::before {
  background-image: url(../images/email.png);
}
.footer .top .footer-part .contacts p.location::before {
  background-image: url(../images/location.png);
}
.footer .top .footer-part .qr-code {
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.footer .top .footer-part .qr-code .desc {
  margin-bottom: 0;
  padding-left: 10px;
  font-size: 14px;
  font-family: PingFang SC;
  color: #fff;
}
.footer .bottom {
  height: 76px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
}
.footer .bottom span {
  padding: 0 20px;
  font-size: 14px;
  color: #fff;
  line-height: 76px;
  margin-bottom: 0;
}

.slide-nav {
  background-color: #fff;
  box-shadow: 4px 5px 8px 0px rgba(220, 220, 220, 0.44);
  border-radius: 5px;
  overflow: hidden;
}
.slide-nav .nav {
  padding: 10px 20px;
}
.slide-nav .nav a {
  width: 100%;
  display: block;
  font-size: 14px;
  color: #515a6e;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.slide-nav .nav a:hover, .slide-nav .nav a.active {
  color: #0077e0;
}
.slide-nav .nav a::before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  background-color: #0077e0;
  margin-right: 10px;
}
.slide-nav .mobile-slide-nav {
  display: none;
}

.blue-banner {
  background: #0c4da3;
  margin-bottom: 20px;
}
.blue-banner .blue-banner-content {
  height: 189px;
  position: relative;
}
.blue-banner .blue-banner-content .text {
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}
.blue-banner .blue-banner-content .text .cn {
  font-size: 36px;
  color: #fff;
}
.blue-banner .blue-banner-content .text .en {
  width: 300px;
  position: absolute;
  left: 35px;
  top: 0px;
  z-index: 0;
  font-size: 60px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.1);
}
.blue-banner .blue-banner-content .bg {
  height: 189px;
  width: 700px;
  background-image: url(../example_images/1.jpg);
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

@media (max-width: 1200px) {
  body {
    padding-top: 50px;
  }

  .bread-nav {
    display: none;
  }

  .header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
    background-color: #fff;
    border-bottom: 1px solid #f2f2f2;
  }
  .header .top {
    height: 50px;
  }
  .header .top .content .logo {
    height: 50px;
    padding-left: 10px;
    display: flex;
    align-items: center;
  }
  .header .top .content .logo img {
    height: 30px;
  }
  .header .top .content .search-show-icon {
    width: 30px;
    height: 30px;
    background: url(../images/search.png) no-repeat center center/60%;
    position: absolute;
    right: 70px;
    top: 10px;
  }
  .header .top .content .search-bar {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    padding: 10px;
    background-color: #e7e7e7;
    display: none;
    overflow: hidden;
  }
  .header .top .content .search-bar .input {
    width: 70%;
    float: left;
  }
  .header .top .content .search-bar .input input {
    width: 100%;
    height: 35px;
    line-height: 33px;
    border: none;
    outline: none;
    text-indent: 10px;
    font-size: 14px;
    color: #515A6E;
  }
  .header .top .content .search-bar .submit-icon {
    float: left;
    width: 30%;
    height: 35px;
    background-color: #0077E0;
    text-align: center;
    line-height: 35px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
  }
  .header .top .content .search-bar .submit-icon:active {
    opacity: 0.8;
  }
  .header .bottom .web-navs {
    position: fixed;
    padding-top: 50px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.9);
    display: none;
  }
  .header .bottom .web-navs a {
    display: block;
    text-align: center;
    height: 50px;
    line-height: 50px;
    color: #333333;
    font-weight: 600;
  }
  .header .bottom .nav-button {
    position: absolute;
    right: 10px;
    top: 14px;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header .bottom .nav-button span {
    display: block;
    width: 22px;
    height: 3px;
    background-color: #333;
    margin: 2px 15px;
    transition: 0.3s;
  }
  .header .bottom .nav-button.active span:nth-child(1) {
    width: 26px;
    transform: translate3d(0, 8px, 0) rotate(45deg);
  }
  .header .bottom .nav-button.active span:nth-child(2) {
    display: none;
  }
  .header .bottom .nav-button.active span:nth-child(3) {
    width: 26px;
    transform: translate3d(0, 1px, 0) rotate(-45deg);
  }

  .slide-nav {
    background-color: transparent;
    box-shadow: 4px 5px 8px 0px rgba(220, 220, 220, 0.44);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 0;
  }
  .slide-nav .home-title-wrapper {
    display: none;
  }
  .slide-nav .nav {
    display: none;
  }
  .slide-nav .mobile-slide-nav {
    display: block;
    padding: 10px;
  }
  .slide-nav .mobile-slide-nav a {
    display: block;
    padding: 10px;
    background: white;
    border: 1px solid #eaedf3;
    border-radius: 4px;
    text-align: center;
    font-size: 13px;
    color: #9EA5B6;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .slide-nav .mobile-slide-nav a.active {
    background-color: #e4f3ff;
    border: 1px solid #e4f3ff;
    color: #0077E0;
  }

  .blue-banner {
    background: #0c4da3;
    margin-bottom: 0;
  }
  .blue-banner .blue-banner-content {
    height: 100px;
    position: relative;
  }
  .blue-banner .blue-banner-content .text {
    position: absolute;
    top: 50%;
    transform: translate3d(0, -50%, 0);
  }
  .blue-banner .blue-banner-content .text .cn {
    font-size: 26px;
    color: #fff;
  }
  .blue-banner .blue-banner-content .text .en {
    width: 300px;
    position: absolute;
    left: 35px;
    top: 0px;
    z-index: 0;
    font-size: 40px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.1);
  }
  .blue-banner .blue-banner-content .bg {
    display: none;
  }

  .footer .top {
    height: auto;
    padding-bottom: 20px;
  }
  .footer .top .footer-part {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .footer .top .footer-part .footer-title {
    font-size: 14px;
  }
  .footer .top .footer-part .links a {
    font-size: 12px;
    line-height: 28px;
  }
  .footer .top .footer-part .contacts p {
    font-size: 12px;
    line-height: 28px;
  }
  .footer .top .footer-part .contacts p::before {
    background-size: 80%;
  }
  .footer .top .footer-part .qr-code {
    display: flex;
    align-items: center;
    padding-top: 10px;
  }
  .footer .top .footer-part .qr-code .desc {
    font-size: 12px;
  }
  .footer .bottom {
    height: auto;
    padding: 10px;
  }
  .footer .bottom span {
    padding: 0;
    font-size: 10px;
    color: #fff;
    line-height: 1;
    margin-bottom: 0;
  }
}
.home-title-wrapper {
  height: 52px;
  width: 100%;
  padding: 0 20px 4px 20px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}
.home-title-wrapper.no-padding {
  padding: 0 0 4px 0;
}
.home-title-wrapper .title {
  font-size: 18px;
  font-weight: bold;
  color: #181F2D;
  margin-bottom: 0;
  line-height: 52px;
  float: left;
}
.home-title-wrapper .more {
  font-size: 12px;
  color: #0077E0;
  line-height: 52px;
  font-weight: 600;
  float: right;
}
.home-title-wrapper .more span {
  margin-left: 5px;
  font-weight: 600;
  position: relative;
  top: 1px;
}
.home-title-wrapper .tab-titles {
  float: left;
  display: flex;
  flex-wrap: wrap;
}
.home-title-wrapper .tab-titles .tab-item {
  font-size: 18px;
  font-weight: normal;
  color: #515A6E;
  margin-bottom: 0;
  line-height: 52px;
  cursor: pointer;
}
.home-title-wrapper .tab-titles .tab-item::before {
  content: "/";
  display: inline-block;
  padding: 0 20px;
}
.home-title-wrapper .tab-titles .tab-item:first-child::before {
  display: none;
}
.home-title-wrapper .tab-titles .tab-item.active {
  font-weight: bold;
  color: #181F2D;
}
.home-title-wrapper .tab-titles .tab-item:hover {
  color: #181F2D;
}
.home-title-wrapper::after {
  content: "";
  display: block;
  height: 4px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.15, #e7e7e7), color-stop(0.15, transparent), color-stop(0.5, transparent), color-stop(0.5, #e7e7e7), color-stop(0.65, #e7e7e7), color-stop(0.65, transparent), to(transparent));
  background-size: 6px 6px;
}

.home-grid-box {
  box-shadow: 4px 5px 8px 0px rgba(220, 220, 220, 0.44);
  border-radius: 4px;
  background-color: #fff;
}

.brands {
  padding: 20px 0px 0 0px;
}
.brands .brand-card {
  height: 0;
  padding-bottom: 50%;
  position: relative;
}
.brands .brand-card .content {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  border: 2px solid #f2f2f2;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brands .brand-card .content img {
  max-width: 90%;
  max-height: 90%;
}

.masters .top-card {
  padding: 20px;
  overflow: hidden;
}
.masters .top-card .cover {
  width: 100px;
  height: 120px;
  float: left;
  border-radius: 4px;
  background-color: #ccc;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.masters .top-card .info {
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
}
.masters .top-card .info a {
  margin: 7px 0 7px 0;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #181F2D;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  transition: 0.3s;
}
.masters .top-card .info a:hover {
  color: #0077E0;
}
.masters .top-card .info p {
  font-size: 16px;
  color: #9EA5B6;
  margin-bottom: 0;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.masters .other-list {
  padding: 16px 20px 0 20px;
  border-top: 1px dashed #eaedf3;
}

.researchs {
  padding: 25px 0px;
}
.researchs .research-card .image {
  max-width: 128px;
  margin: 0 auto;
}
.researchs .research-card .image .content {
  display: block;
  width: 100%;
  padding-bottom: 130%;
  position: relative;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.researchs .research-card .title {
  display: block;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #515A6E;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: 0.3s;
}
.researchs .research-card .title:hover {
  color: #0077E0;
}

.home-banner-swiper {
  position: relative;
}
.home-banner-swiper .home-banner {
  height: 400px;
  border-radius: 5px;
  background-color: #0077E0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.home-banner-swiper .my-bullet {
  display: inline-block;
  width: 14px;
  height: 6px;
  background-color: #9EA5B6;
  margin: 0 6px;
}
.home-banner-swiper .my-bullet-active {
  background-color: #fff;
}

.association-dynamic {
  height: 348px;
  overflow: hidden;
}
.association-dynamic .top-card {
  padding: 20px 20px 10px 20px;
  overflow: hidden;
}
.association-dynamic .top-card .cover {
  width: 100%;
  height: 187px;
  border-radius: 4px;
  background-color: #ccc;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.association-dynamic .top-card .info {
  padding-top: 14px;
}
.association-dynamic .top-card .info a {
  width: 100%;
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #181F2D;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: 0.3s;
}
.association-dynamic .top-card .info a:hover {
  color: #0077E0;
}
.association-dynamic .other-list {
  padding: 16px 20px 0 20px;
  border-top: 1px dashed #eaedf3;
}

.single-news {
  margin-bottom: 0;
}
.single-news li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}
.single-news li a {
  flex: 1;
  display: inline-block;
  font-size: 13px;
  color: #515A6E;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: 0.3s;
}
.single-news li a:hover {
  color: #0077E0;
}
.single-news li span {
  flex: 0 0 80px;
  text-align: right;
  font-size: 12px;
  color: #9EA5B6;
}
.single-news li::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: #0077E0;
  margin-right: 10px;
}

.association-activity {
  padding: 20px 20px 10px 20px;
}
.association-activity .cover {
  width: 100%;
  height: 187px;
  border-radius: 4px;
  background-color: #ccc;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.association-activity .top-card {
  padding: 0px 20px 10px 20px;
  overflow: hidden;
}
.association-activity .top-card .info a {
  width: 100%;
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #181F2D;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: 0.3s;
}
.association-activity .top-card .info a:hover {
  color: #0077E0;
}
.association-activity .top-card .info p {
  font-size: 14px;
  color: #9EA5B6;
  margin-bottom: 0;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.association-activity .other-list {
  padding: 16px 20px 0 20px;
  border-top: 1px dashed #eaedf3;
}
.association-activity .no-padding-list {
  padding: 16px 0 0 0;
  border-top: 1px dashed #eaedf3;
}

.color-card-list {
  padding: 15px 0;
}
.color-card-list .item:nth-child(1) {
  margin-bottom: 14px;
}
.color-card-list .item:nth-child(2) {
  margin-bottom: 14px;
}
.color-card-list .color-card {
  position: relative;
}
.color-card-list .color-card:hover img {
  transform: scale(1.1);
}
.color-card-list .color-card:hover span {
  font-weight: 900;
}
.color-card-list .color-card img {
  width: 100%;
  transition: 0.3s;
}
.color-card-list .color-card span {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #515A6E;
  transition: 0.3s;
}

@media (max-width: 1200px) {
  .color-card-list .color-card span {
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  .home-title-wrapper .tab-titles .tab-item {
    font-size: 13px;
  }

  .home-banner-swiper .home-banner {
    height: 200px;
  }

  .association-dynamic {
    height: auto;
  }

  .mobile-blank {
    height: 20px;
  }

  .association-activity .top-card {
    padding: 20px 0 10px 0;
  }
  .association-activity .other-list {
    padding: 16px 0px 0 0px;
  }

  .researchs {
    padding: 25px 10px;
  }
  .researchs .research-card {
    margin-bottom: 30px;
  }
  .researchs .research-card .image {
    max-width: 90%;
  }
  .researchs .research-card .title {
    display: block;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 14px;
    color: #515A6E;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: 0.3s;
  }
  .researchs .research-card .title:hover {
    color: #0077E0;
  }

  .color-card-list {
    padding: 15px;
  }
  .color-card-list .color-card span {
    font-size: 13px;
  }
}
.news-card {
  padding: 20px;
  background: white;
  box-shadow: 4px 5px 8px 0px rgba(220, 220, 220, 0.44);
  border-radius: 5px;
  overflow: hidden;
}
.news-card figure {
  float: left;
  width: 260px;
  height: 160px;
  overflow: hidden;
  margin-right: 20px;
  overflow: hidden;
  margin-bottom: 0;
}
.news-card figure:hover img {
  transform: scale3d(1.1, 1.1, 1.1);
}
.news-card figure img {
  transition: 0.3s;
  width: 100%;
}
.news-card .info .title {
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: #181f2d;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.news-card .info .title:hover {
  color: #0077e0;
}
.news-card .info .time {
  padding-top: 10px;
  font-size: 12px;
  color: #9ea5b6;
  margin-bottom: 0;
}
.news-card .info .summary {
  display: block;
  font-size: 14px;
  color: #515a6e;
  line-height: 1.8;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-top: 10px;
  margin-bottom: 0;
}
.news-card .info .summary.no-time {
  margin-bottom: 10px;
}
.news-card .info .btn-wrapper {
  text-align: right;
}
.news-card .info .btn-wrapper .more-btn {
  font-size: 12px;
  color: #0077e0;
}

.news-page-list li {
  margin-bottom: 20px;
}

.article-details {
  padding: 30px 50px;
  border-radius: 5px;
  background: white;
  box-shadow: 4px 5px 8px 0px rgba(220, 220, 220, 0.44);
}
.article-details .title {
  padding-bottom: 20px;
  border-bottom: 1px solid #eaedf3;
}
.article-details .title h2 {
  text-align: center;
  font-size: 24px;
  color: #181f2d;
}
.article-details article {
  padding-top: 30px;
  font-size: 14px;
  line-height: 1.6;
  color: #515a6e;
}
.article-details article img {
  display: block;
  max-width: 100%;
  margin: 20px auto;
}
.article-details .download-wrapper {
  padding-top: 20px;
  border-top: 1px solid #eaedf3;
  margin-top: 30px;
  font-size: 14px;
}
.article-details .download-wrapper .desc {
  margin-bottom: 10px;
}
.article-details .contact-us-list {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}
.article-details .contact-us-list .contact-card {
  width: 180px;
  height: 200px;
  border-radius: 20px;
  background-color: #f9fafb;
  text-align: center;
}
.article-details .contact-us-list .contact-card .icon {
  padding-top: 40px;
}
.article-details .contact-us-list .contact-card .contact-title {
  padding-top: 12px;
  font-size: 19px;
}
.article-details .contact-us-list .contact-card .contact-title::after {
  content: "";
  display: block;
  width: 15px;
  height: 2px;
  margin: 20px auto;
  background: #0077e0;
}
.article-details .contact-us-list .contact-card .contact-desc {
  padding: 0 20px;
  font-size: 13px;
  font-weight: 900px;
  color: #333333;
}
.article-details .joinus-form {
  padding: 30px 0;
  display: flex;
  justify-content: center;
}
.article-details .joinus-form .form-wrapper {
  width: 500px;
}
.article-details .joinus-form .form-wrapper .form-item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.article-details .joinus-form .form-wrapper .form-item .label {
  flex: 0 0 140px;
  line-height: 36px;
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #181f2d;
  line-height: 30px;
  text-align: right;
  padding-right: 20px;
}
.article-details .joinus-form .form-wrapper .form-item .input-wrapper {
  flex: 1;
}
.article-details .joinus-form .form-wrapper .form-item .input-wrapper input,
.article-details .joinus-form .form-wrapper .form-item .input-wrapper select {
  width: 100%;
  height: 36px;
  background: white;
  border: 1px solid #e2e2e2;
  border-radius: 2px;
  outline: none;
  font-size: 14px;
  text-indent: 10px;
}
.article-details .joinus-form .form-wrapper .form-item .input-wrapper textarea {
  width: 100%;
  height: 100px;
  padding: 10px 0;
  background: white;
  border: 1px solid #e2e2e2;
  border-radius: 2px;
  outline: none;
  font-size: 14px;
  text-indent: 10px;
}
.article-details .joinus-form .form-wrapper .btn-wrapper {
  text-align: center;
}
.article-details .joinus-form .form-wrapper .btn-wrapper button {
  width: 120px;
  height: 36px;
  background: #0077e0;
  box-shadow: 4px 5px 8px 0px rgba(0, 119, 224, 0.21);
  border-radius: 4px;
  color: #fff;
  border: none;
}

@media (max-width: 1200px) {
  .news-card {
    padding: 10px;
    background: white;
    box-shadow: none;
    border-radius: 0;
    overflow: hidden;
    position: relative;
  }
  .news-card::after {
    content: "";
    display: block;
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 0;
    height: 1px;
    background-color: #EAEDF3;
  }
  .news-card figure {
    width: 40%;
    height: 160px;
    overflow: hidden;
    margin-right: 20px;
    overflow: hidden;
    height: 100px;
  }
  .news-card figure:hover img {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  .news-card figure img {
    transition: 0.3s;
    width: 100%;
  }
  .news-card .info .title {
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: #181f2d;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0;
  }
  .news-card .info .title:hover {
    color: #0077e0;
  }
  .news-card .info .time {
    padding-top: 4px;
    font-size: 12px;
    color: #9ea5b6;
    margin-bottom: 4px;
  }
  .news-card .info .summary {
    display: block;
    font-size: 13px;
    color: #515a6e;
    line-height: 1.8;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 0;
    margin-bottom: 0;
  }
  .news-card .info .btn-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .news-card .info .btn-wrapper .more-btn {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .news-page-list li {
    margin-bottom: 0;
  }

  .article-details {
    padding: 10px 20px;
    border-radius: 5px;
    background: white;
    box-shadow: 4px 5px 8px 0px rgba(220, 220, 220, 0.44);
  }
  .article-details .title {
    padding-bottom: 10px;
    border-bottom: 1px solid #eaedf3;
  }
  .article-details .title h2 {
    text-align: center;
    font-size: 18px;
    color: #181f2d;
  }
  .article-details article {
    padding-top: 30px;
    font-size: 14px;
    line-height: 1.6;
    color: #515a6e;
  }
  .article-details article img {
    display: block;
    max-width: 100%;
    margin: 20px auto;
  }
  .article-details .download-wrapper {
    padding-top: 20px;
    border-top: 1px solid #eaedf3;
    margin-top: 30px;
    font-size: 14px;
  }
  .article-details .download-wrapper .desc {
    margin-bottom: 10px;
  }
  .article-details .contact-us-list {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
  }
  .article-details .contact-us-list .contact-card {
    width: 100%;
    height: 200px;
    border-radius: 20px;
    background-color: #f9fafb;
    text-align: center;
    margin-bottom: 20px;
  }
  .article-details .contact-us-list .contact-card .icon {
    padding-top: 40px;
  }
  .article-details .contact-us-list .contact-card .contact-title {
    padding-top: 12px;
    font-size: 19px;
  }
  .article-details .contact-us-list .contact-card .contact-title::after {
    content: "";
    display: block;
    width: 15px;
    height: 2px;
    margin: 20px auto;
    background: #0077e0;
  }
  .article-details .contact-us-list .contact-card .contact-desc {
    padding: 0 20px;
    font-size: 13px;
    font-weight: 900px;
    color: #333333;
  }
  .article-details .joinus-form {
    padding: 20px 0;
    display: flex;
    justify-content: center;
  }
  .article-details .joinus-form .form-wrapper {
    width: 500px;
  }
  .article-details .joinus-form .form-wrapper .form-item {
    display: block;
    margin-bottom: 20px;
  }
  .article-details .joinus-form .form-wrapper .form-item .label {
    flex: 0 0 140px;
    line-height: 36px;
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: 500;
    color: #181f2d;
    line-height: 30px;
    text-align: left;
    padding-right: 20px;
  }
  .article-details .joinus-form .form-wrapper .form-item .input-wrapper {
    flex: 1;
  }
  .article-details .joinus-form .form-wrapper .form-item .input-wrapper input,
  .article-details .joinus-form .form-wrapper .form-item .input-wrapper select {
    width: 100%;
    height: 36px;
    background: white;
    border: 1px solid #e2e2e2;
    border-radius: 2px;
    outline: none;
    font-size: 14px;
    text-indent: 10px;
  }
  .article-details .joinus-form .form-wrapper .form-item .input-wrapper textarea {
    width: 100%;
    height: 100px;
    padding: 10px 0;
    background: white;
    border: 1px solid #e2e2e2;
    border-radius: 2px;
    outline: none;
    font-size: 14px;
    text-indent: 10px;
  }
  .article-details .joinus-form .form-wrapper .btn-wrapper {
    text-align: center;
  }
  .article-details .joinus-form .form-wrapper .btn-wrapper button {
    width: 120px;
    height: 36px;
    background: #0077e0;
    box-shadow: 4px 5px 8px 0px rgba(0, 119, 224, 0.21);
    border-radius: 4px;
    color: #fff;
    border: none;
  }
}
.leader-card {
  width: 120px;
  position: relative;
}
.leader-card:hover figure img {
  transform: scale3d(1.1, 1.1, 1.1);
}
.leader-card:hover .info .name {
  color: #0077e0;
}
.leader-card figure {
  width: 100%;
  height: 150px;
  border-radius: 5px;
  margin-bottom: 0;
  overflow: hidden;
}
.leader-card figure img {
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.leader-card .info {
  width: 100%;
  padding: 5px 0;
}
.leader-card .info .name {
  width: 100%;
  font-size: 16px;
  color: #181f2d;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}
.leader-card .link {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.leader-container {
  background: white;
  box-shadow: 4px 5px 8px 0px rgba(220, 220, 220, 0.44);
}
.leader-container .group .home-title-wrapper {
  padding-left: 40px;
}
.leader-container .group .leader-page-list {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.leader-container .group .leader-page-list li {
  width: 20%;
  display: flex;
  justify-content: center;
}

@media (max-width: 1200px) {
  .leader-card {
    width: 92%;
    position: relative;
  }
  .leader-card:hover figure img {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  .leader-card:hover .info .name {
    color: #0077e0;
  }
  .leader-card figure {
    width: 100%;
    height: 180px;
    border-radius: 5px;
    margin-bottom: 0;
    overflow: hidden;
  }
  .leader-card figure img {
    width: 100%;
    height: 100%;
    transition: 0.3s;
  }
  .leader-card .info {
    width: 100%;
    padding: 5px 0;
  }
  .leader-card .info .name {
    width: 100%;
    font-size: 16px;
    color: #181f2d;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
  }
  .leader-card .link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .leader-container {
    background: white;
    box-shadow: 4px 5px 8px 0px rgba(220, 220, 220, 0.44);
  }
  .leader-container .group .home-title-wrapper {
    padding-left: 20px;
  }
  .leader-container .group .leader-page-list {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  .leader-container .group .leader-page-list li {
    width: 50%;
    display: flex;
    justify-content: center;
  }
}
