.static-banner {
  height: 100vh;
  position: relative;
  overflow: hidden;
  @include flex-center-x-center-y;
  .bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    @include bg-cover;
  }
  .content {
    padding: 50px;
    color: $white;
    text-align: center;
    h2 {
      font-size: 60px;
      font-weight: 900;
      margin-bottom: 30px;
      letter-spacing: 0.3em;
    }
    p {
      font-size: 30px;
    }
  }
}

.page-title {
  &.tc {
    text-align: center;
  }
  .cn {
    font-size: 30px;
    color: #363278;
    letter-spacing: 0.2em;
    &.lg {
      font-size: 40px;
    }
    &.white {
      color: $white;
    }
  }
  .en {
    font-size: 20px;
    font-weight: 600;
    color: #9d9d9d;
    &.sm {
      font-size: 18px;
    }
    &.white {
      color: $white;
    }
  }
}

@media (max-width: 1200px) {
  .page-title {
    text-align: center;
    .cn {
      font-size: 24px;
    }
    .en {
      font-size: 12px;
    }
  }
}