.services-page {
  height: 100vh;
  @include flex-center-x-center-y;
  .services-content {
    width: 400px;
    height: 400px;
    position: relative;
    .bg {
      position: absolute;
      left: -47px;
      right: -53px;
      top: -37px;
      bottom: -63px;
      z-index: 1;
      background: url(../images/services_bg.png) no-repeat center center / contain;
    }
    .content {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 3;
      .s-card {
        width: 80px;
        height: 80px;
        position: absolute;
        &:hover {
          .btn {
            transform: scale3d(1.1, 1.1, 1.1);
            box-shadow: 0 18px 36px -20px #c6181a;
          }
          .info-wrapper {
            visibility: visible;
            opacity: 1;
            transform: translate3d(0, 0, 0)!important;
          }
        }
        .btn {
          width: 100%;
          height: 100%;
          background-color: $red;
          border-radius: 50%;
          @include flex-center-x-center-y;
          cursor: pointer;
          transition: 0.3s;
          img {
            height: 30px;
          }
        }
        &.top {
          left: 50%;
          top: 0;
          transform: translate3d(-50%, 0, 0);
          .info-wrapper {
            left: 100px;
            top: 0px;
          }
        }
        &.right {
          top: 50%;
          right: 0;
          transform: translate3d(0, -50%, 0);
          .info-wrapper {
            left: 100px;
            top: 0px;
          }
        }
        &.bottom {
          bottom: 0;
          left: 50%;
          transform: translate3d(-50%, 0, 0);
          .info-wrapper {
            left: 100px;
            top: 0px;
          }
        }
        &.left {
          left: 0;
          top: 50%;
          transform: translate3d(0, -50%, 0);
          .info-wrapper {
            left: -320px;
            top: 0px;
            transform: translate3d(20px, 0, 0);
            &::before {
              left: auto;
              right: -26px;
              transform: rotate(30deg);
            }
          }
        }
        .info-wrapper {
          padding-top: 20px;
          padding-left: 5px;
          width: 300px;
          position: absolute;
          border-top: 2px solid $red;
          transition: 0.8s;
          opacity: 0;
          transform: translate3d(-20px, 0, 0);
          visibility: hidden;
          h3 {
            font-size: 16px;
            color: #333;
            font-weight: 600;
            &::after {
              content: "";
              display: block;
              height: 2px;
              width: 20px;
              background-color: #372f79;
              margin-top: 15px;
              margin-bottom: 15px;
            }
          }
          p {
            font-size: 13px;
            color: #666;
          }
          &::before {
            content: "";
            display: block;
            height: 2px;
            width: 30px;
            background-color: $red;
            transform: rotate(-30deg);
            position: absolute;
            left: -26px;
            top: 5px;
          }
        }
      }
    }
  }
}
