@charset "UTF-8";
@import url(../fonts/iconfont.css);
/* 自定义的图片缩放animation */
@-webkit-keyframes shrink {
  0% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes shrink {
  0% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    -ms-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.shrink {
  -webkit-animation-name: shrink;
  animation-name: shrink;
}

/* Global Button Styles */
a.animated-button:link, a.animated-button:visited {
  position: relative;
  display: inline-block;
  margin: 30px auto 0;
  padding: 14px 15px;
  color: #D12D28;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  border-radius: 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

a.animated-button.white:link, a.animated-button.white:visited {
  color: #fff;
}

a.animated-button:link:after, a.animated-button:visited:after {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 150%;
  z-index: -1;
  -webkit-transition: all 0.75s ease 0s;
  -moz-transition: all 0.75s ease 0s;
  -o-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
}

a.animated-button:link:hover, a.animated-button:visited:hover {
  color: #fff;
  text-shadow: none;
}

a.animated-button.white:link:hover, a.animated-button.white:visited:hover {
  color: #D12D28;
  text-shadow: none;
}

a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
  height: 450%;
}

/* Victoria Buttons */
a.animated-button.victoria-one,
a.animated-button.victoria-two,
a.animated-button.victoria-three,
a.animated-button.victoria-four {
  border: 2px solid #D12D28;
}

a.animated-button.white.victoria-one,
a.animated-button.white.victoria-two,
a.animated-button.white.victoria-three,
a.animated-button.white.victoria-four {
  border: 2px solid #fff;
}

a.animated-button.victoria-one:after,
a.animated-button.victoria-two:after,
a.animated-button.victoria-three:after,
a.animated-button.victoria-four:after {
  background: #D12D28;
}

a.animated-button.white.victoria-one:after,
a.animated-button.white.victoria-two:after,
a.animated-button.white.victoria-three:after,
a.animated-button.white.victoria-four:after {
  background: #fff;
}

a.animated-button.victoria-one:after {
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}

a.animated-button.victoria-two:after {
  -moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  transform: translateX(-50%) translateY(-50%) rotate(25deg);
}

a.animated-button.victoria-three:after {
  opacity: .5;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

a.animated-button.victoria-three:hover:after {
  height: 140%;
  opacity: 1;
}

a.animated-button.victoria-four:after {
  opacity: .5;
  -moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
  transform: translateY(-50%) translateX(-50%) rotate(90deg);
}

a.animated-button.victoria-four:hover:after {
  opacity: 1;
  height: 600% !important;
}

/* Sandy Buttons */
a.animated-button.sandy-one {
  border: 2px solid #AEA8D3;
  color: #FFF;
}

a.animated-button.sandy-one:after {
  border: 3px solid #AEA8D3;
  opacity: 0;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

a.animated-button.sandy-one:hover:after {
  height: 120% !important;
  opacity: 1;
  color: #FFF;
}

a.animated-button.sandy-two {
  border: 2px solid #AEA8D3;
  color: #FFF;
}

a.animated-button.sandy-two:after {
  border: 3px solid #AEA8D3;
  opacity: 0;
  -moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
  transform: translateY(-50%) translateX(-50%) rotate(90deg);
}

a.animated-button.sandy-two:hover:after {
  height: 600% !important;
  opacity: 1;
  color: #FFF;
}

a.animated-button.sandy-three {
  border: 2px solid #AEA8D3;
  color: #FFF;
}

a.animated-button.sandy-three:after {
  border: 3px solid #AEA8D3;
  opacity: 0;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}

a.animated-button.sandy-three:hover:after {
  height: 400% !important;
  opacity: 1;
  color: #FFF;
}

a.animated-button.sandy-four {
  border: 2px solid #AEA8D3;
  color: #FFF;
}

a.animated-button.sandy-four:after {
  border: 3px solid #AEA8D3;
  opacity: 0;
  -moz-transform: translateY(-50%) translateX(-50%) rotate(25deg);
  -ms-transform: translateY(-50%) translateX(-50%) rotate(25deg);
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(25deg);
  transform: translateY(-50%) translateX(-50%) rotate(25deg);
}

a.animated-button.sandy-four:hover:after {
  height: 400% !important;
  opacity: 1;
  color: #FFF;
}

/* Gibson Buttons */
a.animated-button.gibson-one {
  border: 2px solid #65b37a;
  color: #FFF;
}

a.animated-button.gibson-one:after {
  opacity: 0;
  background-image: -webkit-linear-gradient(transparent 50%, rgba(101, 179, 122, 0.2) 50%);
  background-image: -moz-linear-gradient(transparent 50%, rgba(101, 179, 122, 0.2) 50%);
  background-size: 10px 10px;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  transform: translateX(-50%) translateY(-50%) rotate(25deg);
}

a.animated-button.gibson-one:hover:after {
  height: 600% !important;
  opacity: 1;
  color: #FFF;
}

a.animated-button.gibson-two {
  border: 2px solid #65b37a;
  color: #FFF;
}

a.animated-button.gibson-two:after {
  opacity: 0;
  background-image: -webkit-linear-gradient(transparent 50%, rgba(101, 179, 122, 0.2) 50%);
  background-image: -moz-linear-gradient(transparent 50%, rgba(101, 179, 122, 0.2) 50%);
  background-size: 10px 10px;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}

a.animated-button.gibson-two:hover:after {
  height: 600% !important;
  opacity: 1;
  color: #FFF;
}

a.animated-button.gibson-three {
  border: 2px solid #65b37a;
  color: #FFF;
}

a.animated-button.gibson-three:after {
  opacity: 0;
  background-image: -webkit-linear-gradient(transparent 50%, rgba(101, 179, 122, 0.2) 50%);
  background-image: -moz-linear-gradient(transparent 50%, rgba(101, 179, 122, 0.2) 50%);
  background-size: 10px 10px;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
}

a.animated-button.gibson-three:hover:after {
  height: 600% !important;
  opacity: 1;
  color: #FFF;
}

a.animated-button.gibson-four {
  border: 2px solid #65b37a;
  color: #FFF;
}

a.animated-button.gibson-four:after {
  opacity: 0;
  background-image: -webkit-linear-gradient(transparent 50%, rgba(101, 179, 122, 0.2) 50%);
  background-image: -moz-linear-gradient(transparent 50%, rgba(101, 179, 122, 0.2) 50%);
  background-size: 10px 10px;
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

a.animated-button.gibson-four:hover:after {
  height: 600% !important;
  opacity: 1;
  color: #FFF;
}

/* Thar Buttons */
a.animated-button.thar-one {
  color: #fff;
  cursor: pointer;
  display: block;
  position: relative;
  border: 2px solid #F7CA18;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

a.animated-button.thar-one:hover {
  color: #000 !important;
  background-color: transparent;
  text-shadow: none;
}

a.animated-button.thar-one:hover:before {
  bottom: 0%;
  top: auto;
  height: 100%;
}

a.animated-button.thar-one:before {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 0px;
  width: 100%;
  z-index: -1;
  content: '';
  color: #000 !important;
  background: #F7CA18;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

a.animated-button.thar-two {
  color: #fff;
  cursor: pointer;
  display: block;
  position: relative;
  border: 2px solid #F7CA18;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

a.animated-button.thar-two:hover {
  color: #000 !important;
  background-color: transparent;
  text-shadow: ntwo;
}

a.animated-button.thar-two:hover:before {
  top: 0%;
  bottom: auto;
  height: 100%;
}

a.animated-button.thar-two:before {
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 0px;
  width: 100%;
  z-index: -1;
  content: '';
  color: #000 !important;
  background: #F7CA18;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

a.animated-button.thar-three {
  color: #fff;
  cursor: pointer;
  display: block;
  position: relative;
  border: 2px solid #F7CA18;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

a.animated-button.thar-three:hover {
  color: #000 !important;
  background-color: transparent;
  text-shadow: nthree;
}

a.animated-button.thar-three:hover:before {
  left: 0%;
  right: auto;
  width: 100%;
}

a.animated-button.thar-three:before {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 0px;
  z-index: -1;
  content: '';
  color: #000 !important;
  background: #F7CA18;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

a.animated-button.thar-four {
  color: #fff;
  cursor: pointer;
  display: block;
  position: relative;
  border: 2px solid #F7CA18;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

a.animated-button.thar-four:hover {
  color: #000 !important;
  background-color: transparent;
  text-shadow: nfour;
}

a.animated-button.thar-four:hover:before {
  right: 0%;
  left: auto;
  width: 100%;
}

a.animated-button.thar-four:before {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 0px;
  z-index: -1;
  content: '';
  color: #000 !important;
  background: #F7CA18;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

@media (min-width: 1200px) {
  .full-container {
    width: 83%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  .full-container .full-wrapper {
    width: 100%;
    display: flex;
  }
  .full-container .full-wrapper.center-y {
    align-items: center;
  }
  .full-container .full-wrapper .content {
    width: 100%;
  }
  .full-container .half-wrapper {
    width: 50%;
    display: flex;
  }
  .full-container .half-wrapper.center-y {
    align-items: center;
  }
  .full-container .half-wrapper .content {
    width: 80%;
  }
}
@media (max-width: 1199px) {
  .full-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .full-container .full-wrapper {
    width: 100%;
    display: flex;
  }
  .full-container .full-wrapper.center-y {
    align-items: center;
  }
  .full-container .full-wrapper .content {
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px;
  }
  .full-container .half-wrapper {
    width: 100%;
    display: flex;
  }
  .full-container .half-wrapper.center-y {
    align-items: center;
  }
  .full-container .half-wrapper .content {
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px;
  }
}
@media (min-width: 1200px) {
  .web-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    color: #ffffff;
  }
  .web-header.black {
    color: #333333;
  }
  .web-header .header-container {
    height: 100px;
    width: 83%;
    margin: 0 auto;
    position: relative;
    transition: 0.3s;
    display: flex;
    justify-content: space-between;
  }
  .web-header .header-container .web-logo {
    display: flex;
    height: 100%;
    align-items: center;
  }
  .web-header .header-container .web-logo img {
    height: 60px;
    transition: 0.3s;
  }
  .web-header .header-container .header-phone {
    line-height: 100px;
  }
  .web-header .header-container .web-nav {
    height: 100%;
    position: relative;
    padding-right: 120px;
  }
  .web-header .header-container .web-nav .nav-list {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  .web-header .header-container .web-nav .nav-list .nav-item {
    height: 100%;
    margin: 0 40px;
    display: flex;
    align-content: center;
  }
  .web-header .header-container .web-nav .nav-list .nav-item.active a {
    color: #ECBB48;
  }
  .web-header .header-container .web-nav .nav-list .nav-item a {
    font-size: 16px;
    font-weight: 600;
    color: currentColor;
    text-decoration: none;
    line-height: 100px;
  }
  .web-header .header-container .web-nav .nav-list .nav-item a:hover {
    color: #ECBB48;
  }
  .web-header .header-container .web-nav .line {
    height: 4px;
    background-color: currentColor;
    position: absolute;
    bottom: 0;
    z-index: 9;
    visibility: hidden;
  }
  .web-header .header-container .web-nav-switch {
    display: none;
  }
  .web-header .header-container .search-bar {
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    z-index: 999;
    height: 100px;
    background-color: #f2f2f2;
    display: none;
  }
  .web-header .header-container .search-bar .search-form {
    width: 400px;
    height: 40px;
    border-bottom: 1px solid #D12D28;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .web-header .header-container .search-bar .search-form .input-wrapper {
    flex: 1;
    padding-left: 20px;
  }
  .web-header .header-container .search-bar .search-form .input-wrapper input {
    width: 100%;
    height: 40px;
    border: none;
    background: transparent;
    outline: none;
    font-size: 14px;
  }
  .web-header .header-container .search-bar .search-form .submit-wrapper {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .web-header .header-container .search-bar .search-form .submit-wrapper .icon-search {
    padding: 10px 20px;
    color: #D12D28;
    cursor: pointer;
  }
  .web-header .header-container .search-bar .search-bar-close {
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .web-header .header-container .search-bar .search-bar-close .icon-close {
    color: #333;
    padding: 10px 20px;
    cursor: pointer;
  }
  .web-header .header-container .search-bar .search-bar-close .icon-close:hover {
    color: #D12D28;
  }
  .web-header .header-container .search-bar-show {
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .web-header .header-container .search-bar-show .icon-search {
    padding: 10px 20px;
    cursor: pointer;
  }
  .web-header .header-container .search-bar-show .icon-search:hover {
    color: #D12D28;
  }
}
@media (max-width: 1200px) {
  .web-header {
    position: relative;
    color: #ffffff;
  }
  .web-header.fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999999;
  }
  .web-header.active {
    background-color: #fff;
    color: #333;
  }
  .web-header .header-container {
    height: 50px;
    padding: 0 10px;
    position: relative;
  }
  .web-header .header-container .web-logo {
    display: flex;
    height: 100%;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate3d(-50%, 0, 0);
  }
  .web-header .header-container .web-logo img {
    height: 30px;
  }
  .web-header .header-container .mobile-blank {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9990;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
  }
  .web-header .header-container .web-nav {
    position: fixed;
    left: 40%;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
    background-color: #003586;
    transition: 0.5s;
    transform: translate3d(100%, 0, 0);
    opacity: 0;
  }
  .web-header .header-container .web-nav.active {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  .web-header .header-container .web-nav .nav-list .nav-item {
    margin: 0 20px;
    display: flex;
    align-content: center;
  }
  .web-header .header-container .web-nav .nav-list .nav-item.active a {
    color: #D12D28;
  }
  .web-header .header-container .web-nav .nav-list .nav-item a {
    width: 100%;
    display: block;
    border-bottom: 1px rgba(8, 32, 56, 0.3) solid;
    line-height: 44px;
    font-size: 14px;
    color: currentColor;
    text-decoration: none;
    color: #fff;
    position: relative;
  }
  .web-header .header-container .web-nav .nav-list .nav-item a::after {
    content: "\e905";
    font-family: "icomoon";
    line-height: 1;
    position: absolute;
    right: 10px;
    top: 14px;
  }
  .web-header .header-container .web-nav .nav-list .nav-item a:hover {
    color: #D12D28;
  }
  .web-header .header-container .web-nav .line {
    display: none;
  }
  .web-header .header-container .web-nav-switch {
    position: fixed;
    right: 0px;
    top: 14px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .web-header .header-container .web-nav-switch span {
    display: block;
    width: 22px;
    height: 3px;
    background-color: currentColor;
    margin: 2px 15px;
    transition: 0.3s;
  }
  .web-header .header-container .web-nav-switch.active span:nth-child(1) {
    width: 26px;
    transform: translate3d(0, 8px, 0) rotate(45deg);
  }
  .web-header .header-container .web-nav-switch.active span:nth-child(2) {
    display: none;
  }
  .web-header .header-container .web-nav-switch.active span:nth-child(3) {
    width: 26px;
    transform: translate3d(0, 1px, 0) rotate(-45deg);
  }
  .web-header .header-container .search-bar {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    z-index: 999;
    height: 50px;
    background-color: #f2f2f2;
    display: none;
  }
  .web-header .header-container .search-bar .search-form {
    width: 300px;
    height: 40px;
    border-bottom: 1px solid #D12D28;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .web-header .header-container .search-bar .search-form .input-wrapper {
    flex: 1;
    padding-left: 20px;
  }
  .web-header .header-container .search-bar .search-form .input-wrapper input {
    width: 100%;
    height: 40px;
    border: none;
    background: transparent;
    outline: none;
    font-size: 14px;
  }
  .web-header .header-container .search-bar .search-form .submit-wrapper {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .web-header .header-container .search-bar .search-form .submit-wrapper .icon-search {
    padding: 10px 20px;
    color: #D12D28;
    cursor: pointer;
  }
  .web-header .header-container .search-bar .search-bar-close {
    width: 60px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .web-header .header-container .search-bar .search-bar-close .icon-close {
    padding: 10px 20px;
    cursor: pointer;
  }
  .web-header .header-container .search-bar .search-bar-close .icon-close:hover {
    color: #D12D28;
  }
  .web-header .header-container .search-bar-show {
    width: 60px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .web-header .header-container .search-bar-show .icon-search {
    padding: 10px 20px;
    cursor: pointer;
  }
  .web-header .header-container .search-bar-show .icon-search:hover {
    color: #D12D28;
  }
}
/* 底部 */
.web-footer {
  padding: 50px 0;
  background-color: #E8AD23;
}
.web-footer .footer-content {
  width: 83%;
  margin: 0 auto;
}
.web-footer .footer-content .top {
  width: 100%;
  display: flex;
}
.web-footer .footer-content .top .left {
  flex: 1;
  padding-top: 30px;
}
.web-footer .footer-content .top .left .web-footer__links {
  position: relative;
  overflow: hidden;
}
.web-footer .footer-content .top .left .web-footer__links .select {
  float: left;
  border: none;
  width: 430px;
  height: 57px;
  background-color: rgba(255, 255, 255, 0.3);
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  text-indent: 10px;
  color: #ffffff;
}
.web-footer .footer-content .top .left .web-footer__links .select option {
  color: #333;
}
.web-footer .footer-content .top .left .web-footer__links .iconfont {
  float: left;
  display: block;
  width: 57px;
  height: 57px;
  background-color: #ffffff;
  color: #666;
  display: flex;
  justify-content: center;
  align-items: center;
}
.web-footer .footer-content .top .right {
  flex: 1;
}
.web-footer .footer-content .top .right .footer-nav {
  display: flex;
  flex-wrap: wrap;
}
.web-footer .footer-content .top .right .footer-nav .footer-nav-item {
  color: #ffffff;
}
.web-footer .footer-content .top .right .footer-nav .footer-nav-item + .footer-nav-item {
  margin-left: 60px;
}
.web-footer .footer-content .top .right .footer-nav .footer-nav-item .main {
  display: block;
  font-size: 16px;
  color: currentColor;
}
.web-footer .footer-content .top .right .footer-nav .footer-nav-item .line {
  display: block;
  height: 40px;
  margin-top: 40px;
  margin-left: 10px;
  position: relative;
}
.web-footer .footer-content .top .right .footer-nav .footer-nav-item .line::after {
  content: "";
  display: block;
  width: 30px;
  height: 0;
  border-bottom: 1px solid currentColor;
  transform: rotate(-40deg);
}
.web-footer .footer-content .top .right .footer-nav .footer-nav-item .sub {
  display: block;
  font-size: 14px;
  color: currentColor;
  line-height: 1.8;
}
.web-footer .footer-content .bottom {
  width: 100%;
  color: #ffffff;
}
.web-footer .footer-content .bottom .p1 {
  font-size: 18px;
  padding-bottom: 20px;
}
.web-footer .footer-content .bottom .p2 {
  font-size: 18px;
  line-height: 1.6;
}
.web-footer .footer-content .bottom .p3 {
  padding-top: 20px;
  font-size: 16px;
  opacity: .6;
}

/* 图片 */
.cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.cover .image {
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.cover.hover:hover .image {
  transform: scale3d(1.05, 1.05, 1.05);
}

.cover.black::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.static-banner {
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.static-banner.aboutus {
  height: calc(100vh + 110px);
}
.static-banner .bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.static-banner .bg::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.static-banner .content {
  padding: 50px;
  color: #fff;
  text-align: center;
}
.static-banner .content h2 {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 30px;
  letter-spacing: 2px;
}
.static-banner .content p {
  font-size: 20px;
  font-family: Arial;
  letter-spacing: 0.3em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 0;
}

.scroll-button {
  width: 60px;
  opacity: .6;
}
.scroll-button .text {
  font-size: 15px;
  color: #ffffff;
  text-align: center;
  padding-bottom: 10px;
}
.scroll-button .icon {
  width: 56px;
  height: 56px;
  box-sizing: border-box;
  border: 3px solid #fff;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
}
.scroll-button .icon::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 5px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.page-title.tc {
  text-align: center;
}
.page-title .cn {
  font-size: 30px;
  color: #363278;
  letter-spacing: 0.2em;
}
.page-title .cn.lg {
  font-size: 40px;
}
.page-title .cn.white {
  color: #fff;
}
.page-title .en {
  font-size: 20px;
  font-weight: 600;
  color: #9d9d9d;
}
.page-title .en.sm {
  font-size: 18px;
}
.page-title .en.white {
  color: #fff;
}

.picture-view-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000000;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}
.picture-view-container .content {
  position: absolute;
  left: 100px;
  right: 100px;
  top: 100px;
  bottom: 100px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.picture-view-container .content img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.picture-view-container .content video {
  width: 100%;
  height: 100%;
}
.picture-view-container .icon {
  display: block;
  padding: 20px;
  position: absolute;
  right: 40px;
  top: 40px;
  z-index: 20;
  font-size: 40px;
  color: #fff;
  cursor: pointer;
}
.picture-view-container .icon:hover {
  color: #D12D28;
}

@media (max-width: 1600px) {
  .static-banner .content h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .static-banner .content p {
    font-size: 12px;
  }

  .page-title {
    text-align: center;
  }
  .page-title .cn {
    font-size: 30px;
  }
  .page-title .cn.lg {
    font-size: 30px;
  }
  .page-title .en {
    font-size: 12px;
  }
}
@media (max-width: 1200px) {
  .static-banner {
    height: 200px;
  }
  .static-banner.aboutus {
    height: 200px;
  }
  .static-banner .content {
    padding: 20px;
    color: #fff;
    text-align: center;
  }
  .static-banner .content h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .static-banner .content p {
    font-size: 12px;
  }

  .page-title {
    text-align: center;
  }
  .page-title .cn {
    font-size: 24px;
  }
  .page-title .cn.lg {
    font-size: 24px;
  }
  .page-title .en {
    font-size: 12px;
  }

  .picture-view-container .content {
    position: absolute;
    left: 20px;
    right: 20px;
    top: 20px;
    bottom: 20px;
  }
  .picture-view-container .icon {
    right: 20px;
    top: 20px;
    z-index: 20;
    font-size: 20px;
  }
}
.main {
  width: 100%;
  position: relative;
}

.index-banner {
  width: 100%;
  height: 100vh;
  position: relative;
}
.index-banner .swiper-item {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.index-banner .swiper-item .bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  -ms-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}
.index-banner .swiper-item .content {
  padding: 50px;
  color: #fff;
  text-align: center;
}
.index-banner .swiper-item .content h2 {
  font-size: 50px;
  font-weight: 900;
  letter-spacing: 4px;
}
.index-banner .swiper-item .content p {
  font-size: 20px;
  line-height: 44px;
}
.index-banner .bottom-operations {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 80px;
  right: 80px;
  bottom: 40px;
  z-index: 9;
}
.index-banner .bottom-operations .left {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}
.index-banner .bottom-operations .left .icon {
  margin-right: 20px;
  transition: 0.3s;
  cursor: pointer;
  color: #ffffff;
}
.index-banner .bottom-operations .left .icon span {
  font-size: 40px;
  opacity: 0.6;
}
.index-banner .bottom-operations .left .icon span:hover {
  opacity: 1;
}
.index-banner .bottom-operations .medium {
  flex: 1;
  display: flex;
  justify-content: center;
}
.index-banner .bottom-operations .medium .icon {
  display: block;
  width: 46px;
  height: 46px;
  cursor: pointer;
  position: relative;
}
.index-banner .bottom-operations .medium .icon::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../images/loading.png);
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.index-banner .bottom-operations .medium .icon i {
  color: #fff;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  font-style: normal;
  display: block;
  width: 100px;
  text-align: center;
}
.index-banner .bottom-operations .medium .icon span {
  position: absolute;
  left: 50%;
  top: 29px;
  transform: translate3d(-50%, 0, 0);
}
.index-banner .bottom-operations .medium .icon span::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 5px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translate3d(-50%, -53%, 0);
}
.index-banner .bottom-operations .right {
  flex: 1;
  text-align: right;
}
.index-banner .bottom-operations .right a {
  display: inline-block;
  margin-left: 40px;
}
.index-banner .bottom-operations .right a img {
  height: 20px;
}

.page-article {
  color: #fff;
}
.page-article.black {
  color: #010101;
}
.page-article .title {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 600;
  color: #010101;
}
.page-article .title.no-border::after {
  display: none;
}
.page-article .title::after {
  content: "";
  display: block;
  height: 3px;
  width: 51px;
  background-color: #ECBB48;
  margin-top: 30px;
}
.page-article .desc {
  line-height: 1.8;
  font-size: 16px;
  color: #010101;
}
.page-article .more-wrapper {
  padding-top: 40px;
}

.introduce {
  width: 100%;
  background-color: #f0f0f0;
  position: relative;
  overflow: hidden;
}
.introduce.white-bg {
  background-color: #fff;
}
.introduce .left {
  height: 100vh;
}
.introduce .left .content .page-title {
  margin-bottom: 80px;
}
.introduce .left .content .image {
  width: 80%;
  transition: 0.3s;
}
.introduce .left .content .image img {
  width: 100%;
}
.introduce .left .content .image:hover {
  transform: scale3d(1.1, 1.1, 1.1);
}
.introduce .right {
  height: 100vh;
}
.introduce .right .content .statistical {
  display: flex;
  flex-wrap: wrap;
  padding-top: 60px;
}
.introduce .right .content .statistical .item {
  margin-right: 50px;
}
.introduce .right .content .statistical .item .num {
  font-size: 48px;
  font-weight: 600;
  color: #010101;
  position: relative;
  transition: 0.3s;
}
.introduce .right .content .statistical .item .num.yellow {
  color: #ECBB48;
}
.introduce .right .content .statistical .item .num::after {
  font-size: 16px;
  color: #010101;
  position: absolute;
  right: -20px;
  top: 0px;
}
.introduce .right .content .statistical .item .num.year::after {
  content: "年";
}
.introduce .right .content .statistical .item .num.money::after {
  content: "万";
}
.introduce .right .content .statistical .item .desc {
  font-size: 14px;
}
.introduce .right .content .more-wrapper {
  padding-top: 30px;
  text-align: right;
}

.index-active-news .tab-title {
  display: flex;
}
.index-active-news .tab-title .item {
  margin-right: 50px;
}
.index-active-news .tab-title .item .title {
  width: 182px;
  height: 54px;
  border-radius: 27px;
  text-align: center;
  line-height: 54px;
  font-size: 22px;
  border: 1px solid #010101;
  background: #fff;
  color: #010101;
}
.index-active-news .tab-title .item.active .title {
  border: 1px solid #ECBB48;
  background: #ECBB48;
  color: #fff;
}
.index-active-news .tab-list {
  padding-top: 80px;
}

.active-news-list .active-news-card {
  display: flex;
  align-items: center;
  padding: 45px;
  color: #0D0D0D;
}
.active-news-list .active-news-card + .active-news-card {
  margin-top: 30px;
}
.active-news-list .active-news-card:hover, .active-news-list .active-news-card.active {
  background-color: #ECBB48;
  color: #ffffff;
}
.active-news-list .active-news-card .left {
  flex: 1;
  font-size: 16px;
  line-height: 1.8;
}
.active-news-list .active-news-card .left .type {
  margin: 0;
}
.active-news-list .active-news-card .left .time {
  margin: 0;
}
.active-news-list .active-news-card .medium {
  flex: 2;
}
.active-news-list .active-news-card .medium .text {
  font-size: 20px;
  font-weight: 600;
}
.active-news-list .active-news-card .right {
  flex: 2;
}
.active-news-list .active-news-card .right .text {
  font-size: 16px;
  opacity: .6;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.our-products {
  background-color: #F0F0F0;
}
.our-products .product-group {
  overflow: hidden;
}
.our-products .product-group .item {
  width: 26%;
  float: left;
  box-sizing: border-box;
  padding-left: 40px;
}
.our-products .product-group .item:first-child {
  width: 48%;
  padding-left: 0;
}
.our-products .product-group .item .card .cover {
  height: 280px;
}
.our-products .product-group .item .card .info {
  color: #010101;
  padding-top: 40px;
}
.our-products .product-group .item .card .info .title {
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: currentColor;
  padding-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.our-products .product-group .item .card .info .desc {
  font-size: 14px;
  color: currentColor;
  opacity: .6;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.our-products .operations {
  padding-top: 50px;
  display: flex;
}
.our-products .operations .icon {
  font-size: 30px;
  color: #010101;
  opacity: .6;
  margin-right: 20px;
}
.our-products .operations .icon:hover {
  opacity: 1;
}

@media (max-width: 1200px) {
  .page-article .title {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .page-article .title::after {
    content: "";
    display: block;
    height: 2px;
    width: 80px;
    background-color: #D12D28;
    margin-top: 20px;
  }
  .page-article .more-wrapper {
    padding-top: 20px;
  }

  .index-banner .swiper-item .content {
    padding: 20px;
    color: #fff;
    text-align: center;
  }
  .index-banner .swiper-item .content h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .index-banner .swiper-item .content p {
    font-size: 12px;
  }
  .index-banner .bottom-operations {
    display: block;
    left: 20px;
    right: 20px;
    bottom: 20px;
  }
  .index-banner .bottom-operations .left {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .index-banner .bottom-operations .left .icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-right: 0;
    position: absolute;
    bottom: 0;
  }
  .index-banner .bottom-operations .left .icon.prev {
    left: 0;
  }
  .index-banner .bottom-operations .left .icon.next {
    right: 0;
  }
  .index-banner .bottom-operations .medium {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate3d(-50%, 0, 0);
  }
  .index-banner .bottom-operations .right {
    position: absolute;
    right: 9px;
    bottom: 70px;
  }
  .index-banner .bottom-operations .right .link {
    display: block;
    margin-left: 0;
    margin-bottom: 20px;
  }
  .index-banner .bottom-operations .right .link img {
    height: auto;
    width: 20px;
  }

  .introduce {
    padding: 20px 0;
  }
  .introduce .left {
    padding: 20px 0;
    height: auto;
  }
  .introduce .left .content .page-title {
    margin-bottom: 20px;
  }
  .introduce .left .content .image {
    width: 100%;
  }
  .introduce .left .content .image img {
    width: 100%;
  }
  .introduce .right {
    padding: 30px 0;
    height: auto;
  }
  .introduce .right .content .statistical {
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
  }
  .introduce .right .content .statistical .item {
    width: 50%;
    margin-right: 0;
  }
  .introduce .right .content .statistical .item .num {
    font-size: 28px;
  }
  .introduce .right .content .statistical .item .num::after {
    font-size: 12px;
  }
  .introduce .right .content .statistical .item .desc {
    font-size: 12px;
  }
  .introduce .right .content .more-wrapper {
    padding-top: 30px;
  }
}
.inner-page-banner {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  position: relative;
}
.inner-page-banner .content-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.inner-page-banner .content-wrapper .content {
  position: absolute;
  left: 10%;
  bottom: 10%;
  color: #ffffff;
}
.inner-page-banner .content-wrapper .content .cn {
  font-size: 48px;
  font-weight: 600;
  padding-bottom: 10px;
}
.inner-page-banner .content-wrapper .content .en {
  font-size: 38px;
}
.inner-page-banner .content-wrapper .content .scroll-box {
  padding-top: 100px;
}

.inner-page-nav .content {
  width: 83%;
  height: 85px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.inner-page-nav .content .nav-list {
  height: 85px;
  display: flex;
  flex-wrap: wrap;
}
.inner-page-nav .content .nav-list .item {
  display: block;
  height: 85px;
  box-sizing: border-box;
  line-height: 85px;
  font-size: 20px;
  color: #010101;
}
.inner-page-nav .content .nav-list .item + .item {
  margin-left: 50px;
}
.inner-page-nav .content .nav-list .item:hover, .inner-page-nav .content .nav-list .item.active {
  border-bottom: 2px solid #ECBB48;
}
.inner-page-nav .content .bread-nav {
  color: #666;
}
.inner-page-nav .content .bread-nav .item {
  line-height: 85px;
}
.inner-page-nav .content .bread-nav .iconfont {
  margin: 0 10px;
}

.inner-page-title {
  margin-bottom: 40px;
  color: #111111;
}
.inner-page-title.white {
  color: #ffffff;
}
.inner-page-title .cn {
  font-size: 30px;
  color: currentColor;
  font-weight: 600;
  padding-bottom: 10px;
}
.inner-page-title .en {
  font-size: 24px;
  font-weight: 600;
  color: currentColor;
}
.inner-page-title .en .yellow {
  color: #ECBB48;
}
.inner-page-title .desc {
  font-size: 20px;
  color: #111111;
  padding-top: 50px;
  display: flex;
  align-items: center;
}
.inner-page-title .desc::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #cccccc;
  flex: 1;
  margin-left: 20px;
}

.company-origination {
  padding: 60px 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.company-origination .image {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.company-origination .image img {
  display: block;
  width: 100%;
}

.our-honor {
  padding: 60px 0;
}
.our-honor .honor-swiper .swiper-wrapper {
  padding-bottom: 50px;
}
.our-honor .honor-swiper .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
}
.our-honor .honor-swiper .swiper-pagination-bullet-active {
  background: #ECBB48;
}
.our-honor .honor-swiper .honor-card {
  height: 240px;
  border: 2px solid #ffffff;
  transition: 0.3s;
}
.our-honor .honor-swiper .honor-card:hover {
  border: 2px solid #ECBB48;
}

.company-idea {
  padding: 60px 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.company-idea .idea-list {
  display: flex;
}
.company-idea .idea-list .idea-item {
  flex: 1;
  padding: 50px;
}
.company-idea .idea-list .idea-item .idea-card {
  height: 460px;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
}
.company-idea .idea-list .idea-item .idea-card .title {
  font-size: 24px;
  font-weight: 600;
  color: #050505;
  position: relative;
  padding-top: 62px;
}
.company-idea .idea-list .idea-item .idea-card .title::after {
  content: "";
  display: block;
  width: 2px;
  height: 56px;
  background-color: #ECBB48;
  margin: 20px auto;
}
.company-idea .idea-list .idea-item .idea-card .article .text {
  font-size: 24px;
  line-height: 1.6;
  color: #050505;
  font-weight: 400;
  opacity: 0.8;
}

.product-introduce {
  position: relative;
}
.product-introduce .product-nav-list {
  padding: 50px 0;
  display: flex;
}
.product-introduce .product-nav-list .item {
  font-size: 16px;
  color: #050505;
  cursor: pointer;
  line-height: 30px;
  border-bottom: 1px solid #ffffff;
}
.product-introduce .product-nav-list .item:hover, .product-introduce .product-nav-list .item.active {
  color: #ECBB48;
  border-bottom: 1px solid #ECBB48;
}
.product-introduce .product-nav-list .item + .item {
  margin-left: 40px;
}

.product-introduce-content {
  display: flex;
  flex-wrap: wrap;
  background-color: #fdf7e9;
  position: relative;
}
.product-introduce-content .product-left {
  height: 700px;
  width: 40%;
}
.product-introduce-content .product-left .info {
  position: absolute;
  left: 8.5%;
  right: 70%;
}
.product-introduce-content .product-left .info .title {
  font-size: 30px;
  font-weight: 600;
  color: #050505;
  padding-top: 100px;
  padding-bottom: 40px;
}
.product-introduce-content .product-left .info .section {
  padding-bottom: 40px;
}
.product-introduce-content .product-left .info .section .sub-title {
  font-size: 16px;
  font-weight: 600;
  color: #050505;
  padding-bottom: 10px;
}
.product-introduce-content .product-left .info .section .sub-title::after {
  content: " :";
}
.product-introduce-content .product-left .info .section .summary {
  font-size: 16px;
  color: #050505;
  opacity: 0.8;
  line-height: 1.6;
}
.product-introduce-content .product-left .info .details-button {
  width: 131px;
  height: 45px;
  background-color: #ECBB48;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
  margin-top: 30px;
}
.product-introduce-content .product-left .info .details-button:hover {
  opacity: 0.8;
}
.product-introduce-content .product-right {
  height: 700px;
  width: 60%;
}
.product-introduce-content .product-right .bg {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.business-case {
  padding: 70px 0;
}
.business-case .case-title-wrapper {
  padding-bottom: 70px;
  position: relative;
}
.business-case .case-title-wrapper .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}
.business-case .case-title-wrapper .top .title {
  font-size: 30px;
}
.business-case .case-title-wrapper .top .more {
  font-size: 60px;
  color: #cccccc;
}
.business-case .case-title-wrapper .top .more:hover {
  color: #050505;
}
.business-case .case-title-wrapper .desc {
  font-size: 18px;
}
.business-case .case-swiper-container.row {
  position: relative;
}
.business-case .case-swiper-container.row .bg-wrapper {
  width: 60%;
}
.business-case .case-swiper-container.row .bg-wrapper .case-bg {
  height: 620px;
}
.business-case .case-swiper-container.row .context-wrapper {
  position: absolute;
  width: 50%;
  right: 0;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}
.business-case .case-swiper-container .bg-wrapper .case-bg {
  height: 600px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.business-case .case-swiper-container .context-wrapper {
  width: 1100px;
  max-width: 100%;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
  top: -200px;
  z-index: 99;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.22);
}
.business-case .case-swiper-container .context-wrapper .case-details {
  padding: 70px 130px 42px 130px;
}
.business-case .case-swiper-container .context-wrapper .case-details .title {
  font-size: 22px;
  color: #333;
  text-align: center;
}
.business-case .case-swiper-container .context-wrapper .case-details .blank {
  height: 100px;
}
.business-case .case-swiper-container .context-wrapper .case-details .summary {
  font-size: 18px;
  color: #2d2d2d;
  line-height: 2;
}
.business-case .case-swiper-container .context-wrapper .case-details .more-wrapper {
  text-align: center;
}
.business-case .case-swiper-container .context-wrapper .operations {
  position: absolute;
  left: 50%;
  top: 130px;
  z-index: 100;
  transform: translate3d(-50%, 0, 0);
  color: #666;
  display: flex;
  align-items: center;
}
.business-case .case-swiper-container .context-wrapper .operations .swiper-case-context-prev,
.business-case .case-swiper-container .context-wrapper .operations .swiper-case-context-next {
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}
.business-case .case-swiper-container .context-wrapper .operations .swiper-case-context-prev:hover,
.business-case .case-swiper-container .context-wrapper .operations .swiper-case-context-next:hover {
  color: #ECBB48;
}
.business-case .case-swiper-container .context-wrapper .operations .swiper-case-context-pagination {
  padding: 10px 80px;
  font-size: 22px;
}
.business-case .case-swiper-container .context-wrapper .operations .swiper-case-context-pagination .swiper-pagination-current {
  color: #ECBB48;
}
.business-case .more-case {
  width: 131px;
  height: 45px;
  background-color: #ECBB48;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 50px;
}
.business-case .more-case:hover {
  opacity: 0.8;
}

.contact-us .contact-us-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #FDF7E9;
}
.contact-us .contact-us-content .left {
  width: 80%;
  height: 670px;
  background-color: #333;
}
.contact-us .contact-us-content .right {
  width: 20%;
}
.contact-us .contact-us-content .right .info {
  padding: 30px;
}
.contact-us .contact-us-content .right .info .title {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
}
.contact-us .contact-us-content .right .info .title .cn {
  font-size: 20px;
  padding-bottom: 5px;
}
.contact-us .contact-us-content .right .info .title .en {
  font-size: 14px;
}
.contact-us .contact-us-content .right .info .name {
  font-size: 18px;
  font-weight: 600;
}
.contact-us .contact-us-content .right .info .icon-text {
  display: flex;
  margin-top: 30px;
}
.contact-us .contact-us-content .right .info .icon-text .iconfont {
  flex: 0 0 30px;
  line-height: 1.6;
}
.contact-us .contact-us-content .right .info .icon-text .text-box .text {
  font-size: 16px;
  line-height: 1.6;
}
