@charset "UTF-8";
@import url(../fonts/iconfont.css);
html,
body {
  font-weight: 400;
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, "Hiragino Sans GB", "微软雅黑", Arial, sans-serif, "Microsoft YaHei";
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  list-style: none;
}

body {
  line-height: 1.2;
}

:focus {
  outline: 1;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

ins {
  background-color: #ff9;
  color: #111;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #111;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #111;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

input::-webkit-input-placeholder {
  color: #fff;
}

input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
}

input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
}

input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

img[src=""],
img:not([src]) {
  opacity: 0;
}

::-webkit-scrollbar-track {
  background-color: #f9f9f9;
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  background-color: #ccc;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

/* 自定义的图片缩放animation */
@-webkit-keyframes shrink {
  0% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes shrink {
  0% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    -ms-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.shrink {
  -webkit-animation-name: shrink;
  animation-name: shrink;
}

.container {
  padding: 0 20px;
}

.web-header {
  height: 44px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
}
.web-header .header-content {
  height: 44px;
  background-color: #2952A0;
  position: relative;
}
.web-header .header-content .menu-switch {
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  padding: 0 10px;
  display: flex;
  align-items: center;
}
.web-header .header-content .menu-switch .icon {
  display: block;
  height: 20px;
  width: 30px;
  background-image: linear-gradient(#ffffff 0, #ffffff 10%, transparent 10%, transparent 45%, #ffffff 45%, #ffffff 55%, transparent 55%, transparent 90%, #ffffff 90%, #ffffff 100%);
}
.web-header .header-content .lawyer {
  position: absolute;
  left: 70px;
  top: 0;
  bottom: 0;
}
.web-header .header-content .lawyer .name {
  line-height: 44px;
  color: #fff;
}
.web-header .header-content .phone {
  position: absolute;
  top: 8px;
  right: 10px;
  height: 28px;
  background-color: rgba(78, 127, 219, 0.7);
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-radius: 4px;
  color: #fff;
}
.web-header .header-content .phone .iconfont {
  font-size: 14px;
}
.web-header .header-content .phone .number {
  font-size: 12px;
}
.web-header .web-nav {
  position: fixed;
  left: 0;
  top: 0;
}
.web-header .web-nav .content {
  position: fixed;
  left: 0;
  top: 0;
  width: 50%;
  bottom: 0;
  z-index: 99;
  background-color: #2952A0;
  transform: translate3d(-200px, 0, 0);
  opacity: 0;
  transition: 0.3s;
}
.web-header .web-nav .content.active {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.web-header .web-nav .content .iconfont {
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px;
  color: #fff;
  font-weight: 900;
}
.web-header .web-nav .content .nav-list {
  margin-top: 80px;
}
.web-header .web-nav .content .nav-list .item {
  text-align: center;
  padding-bottom: 30px;
}
.web-header .web-nav .content .nav-list .item a {
  display: block;
  padding: 10px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  padding-bottom: 5px;
  letter-spacing: 2px;
}
.web-header .web-nav .content .nav-list .item a span {
  display: block;
  font-size: 12px;
}
.web-header .web-nav .blank {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 98;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.main-content {
  padding-top: 44px;
}
.main-content.gray {
  background-color: #ebeced;
}

.pagination-wrapper {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.bread-nav .bread-nav-container {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.bread-nav .bread-nav-container .first {
  display: inline-block;
  color: #999999;
}
.bread-nav .bread-nav-container .first::before {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e96d";
}
.bread-nav .bread-nav-container .medium {
  display: inline-block;
  color: #999999;
}
.bread-nav .bread-nav-container .medium::after {
  display: inline-block;
  margin: 0 5px;
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e96c";
  transform: rotate(180deg);
}
.bread-nav .bread-nav-container .medium:hover {
  color: #2952A0;
}
.bread-nav .bread-nav-container .last {
  color: #2952A0;
}

.banner {
  position: relative;
}
.banner.line {
  border-bottom: 3px solid #F79907;
}
.banner .image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 150px;
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  -ms-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}
.banner .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 1;
  margin: 0 8px !important;
}
.banner .swiper-pagination-bullet-active {
  background-color: #F79907;
}
.banner::after {
  content: "";
  display: block;
  width: 80%;
  height: 16px;
  background: url(../images/banner_shadow.png) no-repeat top center/contain;
  position: absolute;
  left: 50%;
  bottom: -18px;
  z-index: 99;
  transform: translate3d(-50%, 0, 0);
}
.banner .lawyer-intro {
  height: 45px;
  padding: 0 22px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner .lawyer-intro .info-item {
  display: flex;
  align-items: center;
}
.banner .lawyer-intro .info-item img {
  width: auto;
  height: 30px;
}
.banner .lawyer-intro .info-item .info {
  padding-left: 6px;
}
.banner .lawyer-intro .info-item .info .number {
  font-size: 15px;
  color: #F79907;
  font-weight: 600;
}
.banner .lawyer-intro .info-item .info .desc {
  font-size: 12px;
  color: #999999;
}
.banner .lawyer-intro .phone-item {
  width: 103px;
  height: 38px;
  border-radius: 5px;
  background-color: #F79907;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .lawyer-intro .phone-item .phone {
  padding-top: 2px;
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #fff;
}
.banner .lawyer-intro .phone-item .phone .iconfont {
  font-size: 14px;
}
.banner .lawyer-intro .phone-item .number {
  font-size: 14px;
  color: #fff;
  padding-top: 2px;
}

.common-title {
  margin: 0 auto;
  position: relative;
  text-align: center;
  color: #111111;
}
.common-title.white {
  color: #ffffff;
}
.common-title::after {
  content: "";
  display: block;
  width: 36px;
  height: 9px;
  border-radius: 5px;
  background-color: #F79907;
  position: absolute;
  left: 50%;
  top: 10px;
  z-index: 0;
  transform: translate3d(-50%, 0, 0);
}
.common-title .cn {
  font-size: 15px;
  color: currentColor;
  padding-bottom: 4px;
  position: relative;
  z-index: 1;
}
.common-title .en {
  font-size: 12px;
  color: currentColor;
  opacity: 0.8;
  position: relative;
  z-index: 1;
}

.bg-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  z-index: -1;
  font-size: 220px;
  opacity: 0.05;
  line-height: 160px;
  font-weight: 600;
}
.bg-text.light {
  color: #ffffff;
}

.next-page {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #2952A0;
  border: 1px solid currentColor;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translate3d(-50%, 0, 0);
}
.next-page::after {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e923";
  transform: rotate(90deg);
  color: currentColor;
  position: relative;
  left: -1px;
}
.next-page.light {
  color: #fff;
}

.inline-nav {
  position: relative;
  top: -50px;
  z-index: 9999;
}
.inline-nav .inline-nav-container {
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
.inline-nav .inline-nav-container .inline-nav-wrapper {
  display: flex;
  align-items: center;
}
.inline-nav .inline-nav-container .inline-nav-wrapper .left-wrapper {
  flex: 0 0 190px;
  width: 190px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2952A0;
}
.inline-nav .inline-nav-container .inline-nav-wrapper .left-wrapper .page-name {
  color: #fff;
}
.inline-nav .inline-nav-container .inline-nav-wrapper .left-wrapper .page-name .cn {
  font-size: 26px;
}
.inline-nav .inline-nav-container .inline-nav-wrapper .left-wrapper .page-name .en {
  font-size: 18px;
}
.inline-nav .inline-nav-container .inline-nav-wrapper .right-wrapper .nav-item {
  display: block;
  width: 112px;
  border-radius: 20px;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  color: #111111;
}
.inline-nav .inline-nav-container .inline-nav-wrapper .right-wrapper .nav-item.active {
  background-color: #2952A0;
  color: #fff;
}

.web-footer {
  background-color: #12131a;
}
.web-footer .footer-container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.web-footer .footer-container .text {
  text-align: center;
  font-size: 12px;
  color: #fff;
  opacity: 0.8;
  line-height: 1.6;
}

.home-services {
  padding: 30px 0;
  background-color: #f1f1f1;
}
.home-services .home-services-container .services-list {
  display: flex;
  flex-wrap: wrap;
}
.home-services .home-services-container .services-list .item {
  width: 25%;
  box-sizing: border-box;
  margin-bottom: 16px;
}
.home-services .home-services-container .services-list .item:nth-child(1) .card .icon {
  background: linear-gradient(0deg, #2a52a0, #4f7fdb);
}
.home-services .home-services-container .services-list .item:nth-child(2) .card .icon {
  background: linear-gradient(0deg, #f79a08, #f9ba57);
}
.home-services .home-services-container .services-list .item:nth-child(3) .card .icon {
  background: linear-gradient(0deg, #15a686, #48d0b5);
}
.home-services .home-services-container .services-list .item:nth-child(4) .card .icon {
  background: linear-gradient(0deg, #ff999a, #ff5757);
}
.home-services .home-services-container .services-list .item:nth-child(5) .card .icon {
  background: linear-gradient(0deg, #ff999a, #ff5757);
}
.home-services .home-services-container .services-list .item:nth-child(6) .card .icon {
  background: linear-gradient(0deg, #15a686, #48d0b5);
}
.home-services .home-services-container .services-list .item:nth-child(7) .card .icon {
  background: linear-gradient(0deg, #2a52a0, #4f7fdb);
}
.home-services .home-services-container .services-list .item:nth-child(8) .card .icon {
  background: linear-gradient(0deg, #f79a08, #f9ba57);
}
.home-services .home-services-container .services-list .item .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-services .home-services-container .services-list .item .card .icon {
  width: 55px;
  height: 55px;
  border-radius: 23px;
  background-color: #F79907;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-services .home-services-container .services-list .item .card .icon .iconfont {
  font-size: 38px;
  color: #fff;
}
.home-services .home-services-container .services-list .item .card .icon .iconfont.big {
  font-size: 46px;
}
.home-services .home-services-container .services-list .item .card .icon .iconfont.special {
  position: relative;
  left: 3px;
}
.home-services .home-services-container .services-list .item .card .title {
  padding-top: 6px;
  font-size: 12px;
  color: #111111;
}

.person-introduce {
  padding: 30px 0;
  background-color: #ffffff;
}
.person-introduce .person-introduce-container .person-introduce-wrapper {
  margin-top: 30px;
  padding: 20px;
  border: 2px solid #2952A0;
  position: relative;
}
.person-introduce .person-introduce-container .person-introduce-wrapper .top-info .basic .name {
  font-size: 12px;
  color: #2952A0;
  padding-bottom: 8px;
}
.person-introduce .person-introduce-container .person-introduce-wrapper .top-info .basic .name strong {
  font-size: 23px;
  font-weight: 600;
}
.person-introduce .person-introduce-container .person-introduce-wrapper .top-info .basic .exp {
  padding-bottom: 8px;
  font-size: 12px;
  color: #111111;
}
.person-introduce .person-introduce-container .person-introduce-wrapper .top-info .basic .role {
  width: 146px;
  height: 20px;
  text-indent: 10px;
  background-color: #2952A0;
  font-size: 12px;
  color: #fff;
  line-height: 20px;
}
.person-introduce .person-introduce-container .person-introduce-wrapper .top-info .exp-list {
  padding-top: 16px;
}
.person-introduce .person-introduce-container .person-introduce-wrapper .top-info .exp-list .item {
  padding-bottom: 10px;
}
.person-introduce .person-introduce-container .person-introduce-wrapper .top-info .exp-list .item .desc {
  font-size: 12px;
  color: #111111;
  padding-left: 10px;
  position: relative;
}
.person-introduce .person-introduce-container .person-introduce-wrapper .top-info .exp-list .item .desc::before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  overflow: hidden;
  background-color: #111111;
  position: absolute;
  left: 0;
  top: 6px;
}
.person-introduce .person-introduce-container .person-introduce-wrapper .bottom-image {
  position: relative;
}
.person-introduce .person-introduce-container .person-introduce-wrapper .bottom-image .big-image {
  position: absolute;
  right: -20px;
  bottom: -27px;
  z-index: 1;
}
.person-introduce .person-introduce-container .person-introduce-wrapper .bottom-image .big-image img {
  width: 160px;
  height: auto;
}
.person-introduce .person-introduce-container .person-introduce-wrapper .bottom-image .image-list {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
}
.person-introduce .person-introduce-container .person-introduce-wrapper .bottom-image .image-list .item {
  width: 33.33%;
  box-sizing: border-box;
  padding: 6px;
}
.person-introduce .person-introduce-container .person-introduce-wrapper .bottom-image .image-list .item .image {
  width: 100%;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.person-introduce .person-introduce-container .person-introduce-wrapper .button {
  width: 130px;
  height: 28px;
  border-radius: 14px;
  background-color: #F79907;
  font-size: 12px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: -16px;
  z-index: 9;
  transform: translate3d(-50%, 0, 0);
}
