body {
  padding-bottom: 64px;
}
// 内容宽度
.container {
  padding: 0 20px;
}

// 头部
.web-header {
  height: 44px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  .header-content {
    height: 44px;
    background-color: $theme-sub-color;
    position: relative;
    .menu-switch {
      position: absolute;
      left: 10px;
      top: 0;
      bottom: 0;
      padding: 0 10px;
      display: flex;
      align-items: center;
      .icon {
        display: block;
        height: 20px;
        width: 30px;
        background-image: linear-gradient(
          #ffffff 0,
          #ffffff 10%,
          transparent 10%,
          transparent 45%,
          #ffffff 45%,
          #ffffff 55%,
          transparent 55%,
          transparent 90%,
          #ffffff 90%,
          #ffffff 100%
        );
      }
    }
    .lawyer {
      position: absolute;
      left: 70px;
      top: 0;
      bottom: 0;
      .name {
        line-height: 44px;
        color: $white;
      }
    }
    .phone {
      position: absolute;
      top: 8px;
      right: 10px;
      height: 28px;
      background-color: rgba($color: #4e7fdb, $alpha: 0.7);
      display: flex;
      align-items: center;
      padding: 0 10px;
      border-radius: 4px;
      color: $white;
      .iconfont {
        font-size: 14px;
      }
      .number {
        font-size: 12px;
      }
    }
  }
  .web-nav {
    position: fixed;
    left: 0;
    top: 0;
    .content {
      position: fixed;
      left: 0;
      top: 0;
      width: 50%;
      bottom: 0;
      z-index: 99;
      background-color: $theme-sub-color;
      transform: translate3d(-200px, 0, 0);
      opacity: 0;
      transition: 0.3s;
      &.active {
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }
      .iconfont {
        position: absolute;
        left: 0;
        top: 0;
        padding: 20px;
        color: $white;
        font-weight: 900;
      }
      .nav-list {
        margin-top: 80px;
        .item {
          text-align: center;
          padding-bottom: 30px;
          .one {
            display: block;
            padding: 10px;
            text-align: center;
            color: $white;
            font-size: 16px;
            padding-bottom: 5px;
            letter-spacing: 2px;
            span {
              display: block;
              font-size: 12px;
            }
          }
          .pull-down-nav {
            .two {
              display: block;
              padding: 10px;
              text-align: center;
              color: $white;
              font-size: 12px;
              padding-bottom: 3px;
              letter-spacing: 1px;
              span {
                display: block;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
    .blank {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 98;
      background-color: rgba($color: #000000, $alpha: 0.7);
      display: none;
    }
  }
}

// 主要内容
.main-content {
  padding-top: 44px;
  &.gray {
    background-color: #ebeced;
  }
}

// 分页
.pagination-wrapper {
  padding: 10px;
  display: flex;
  justify-content: center;
}

// 面包屑导航
.bread-nav {
  .bread-nav-container {
    display: flex;
    align-items: center;
    font-size: 14px;
    .first {
      display: inline-block;
      color: $font-color-sub;
      &::before {
        @include iconfont;
        content: "\e96d";
      }
    }
    .medium {
      display: inline-block;
      color: $font-color-sub;
      &::after {
        display: inline-block;
        margin: 0 5px;
        @include iconfont;
        content: "\e96c";
        transform: rotate(180deg);
      }
      &:hover {
        color: $theme-sub-color;
      }
    }
    .last {
      color: $theme-sub-color;
    }
  }
}

// banner
.banner {
  &.line {
    border-bottom: 3px solid $theme-color;
    &::after {
      content: "";
      display: block;
      width: 80%;
      height: 16px;
      background: url(../images/banner_shadow.png) no-repeat top center / contain;
      position: absolute;
      left: 50%;
      bottom: -18px;
      z-index: 99;
      transform: translate3d(-50%, 0, 0);
    }
  }
  .image {
    @include bg-cover;
    height: 150px;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    -ms-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 1;
    margin: 0 8px !important;
  }
  .swiper-pagination-bullet-active {
    background-color: $theme-color;
  }
  position: relative;
  .lawyer-intro {
    height: 45px;
    padding: 0 16px;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .info-item {
      flex: 1;
      display: flex;
      align-items: center;
      img {
        width: auto;
        height: 30px;
      }
      .info {
        padding-left: 6px;
        .number {
          font-size: 15px;
          color: $theme-color;
          font-weight: 600;
        }
        .desc {
          font-size: 12px;
          color: $font-color-sub;
        }
      }
    }
    .phone-item {
      width: 103px;
      height: 38px;
      border-radius: 5px;
      background-color: $theme-color;
      display: flex;
      justify-content: center;
      align-items: center;
      .phone {
        padding-top: 2px;
        display: flex;
        align-items: center;
        font-size: 12px;
        color: $white;
        .iconfont {
          font-size: 14px;
        }
        .desc {
        }
      }
      .number {
        font-size: 14px;
        color: $white;
        padding-top: 2px;
      }
    }
  }
}

// 公用块标题
.common-title {
  margin: 0 auto;
  position: relative;
  text-align: center;
  color: $font-color-main;
  &.white {
    color: #ffffff;
  }
  &::after {
    content: "";
    display: block;
    width: 36px;
    height: 9px;
    border-radius: 5px;
    background-color: $theme-color;
    position: absolute;
    left: 50%;
    top: 10px;
    z-index: 0;
    transform: translate3d(-50%, 0, 0);
  }
  .cn {
    font-size: 15px;
    color: currentColor;
    padding-bottom: 4px;
    position: relative;
    z-index: 1;
  }
  .en {
    font-size: 12px;
    color: currentColor;
    opacity: 0.8;
    position: relative;
    z-index: 1;
  }
}

// 每一块得标题背景
.bg-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  z-index: -1;
  font-size: 220px;
  opacity: 0.05;
  line-height: 160px;
  font-weight: 600;
  &.light {
    color: #ffffff;
  }
}

// 下一页
.next-page {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: $theme-sub-color;
  border: 1px solid currentColor;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translate3d(-50%, 0, 0);
  &::after {
    @include iconfont;
    content: "\e923";
    transform: rotate(90deg);
    color: currentColor;
    position: relative;
    left: -1px;
  }
  &.light {
    color: $white;
  }
}

// 内页导航
.inline-nav {
  .inline-nav-container {
    overflow: hidden;
    background-color: #E9E9E9;
    @include box-shadow;
    .nav-item {
      display: block;
      width: 70px;
      border-radius: 10px;
      line-height: 20px;
      text-align: center;
      font-size: 12px;
      color: $font-color-main;
      margin: 10px 0;
      &.active {
        background-color: $theme-color;
        color: $white;
      }
    }
  }
}

// 底部
.web-footer {
  padding: 20px 10px;
  background-color: #12131a;
  .footer-container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .text {
      text-align: center;
      font-size: 12px;
      color: $white;
      opacity: 0.8;
      line-height: 1.6;
    }
  }
}

// 底部咨询
.buttom-consulting {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 88;
  background-color: $white;
  .customer-service {
    display: flex;
    align-items: center;
    .cover {
      width: 44px;
      height: 44px;
      .image {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        @include bg-cover;
      }
    }
    .info {
      padding-left: 10px;
      .name {
        font-size: 15px;
        color: $font-color-main;
        padding-bottom: 5px;
      }
      .status {
        font-size: 12px;
        color: $font-color-sub;
        display: flex;
        align-items: center;
        &.online {
          &::before {
            content: "";
            display: block;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #14ba43;
            margin-right: 3px;
          }
        }
        &.offline {
          &::before {
            content: "";
            display: block;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #ccc;
            margin-right: 3px;
          }
        }
      }
    }
  }
  .operations {
    display: flex;
    .item {
      & + .item {
        margin-left: 8px;
      }
      &.blue {
        background-color: $theme-sub-color;
      }
      padding: 0 8px;
      display: flex;
      align-items: center;
      height: 43px;
      background-color: $theme-color;
      border-radius: 5px;
      .iconfont {
        font-size: 20px;
        color: $white;
        margin-right: 3px;
      }
      .info {
        .text1 {
          font-size: 18px;
          color: $white;
        }
        .text2 {
          font-size: 12px;
          color: $white;
        }
      }
    }
  }
}
