// 内容宽度
.container {
  width: 98%;
  max-width: 1200px;
  margin: 0 auto;
}

// 头部
.web-header {
  background: linear-gradient(to right, $white 50%, $theme-color 50%);
  @include box-shadow;
  .header-container {
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: $white;
    .left-wrapper {
      display: flex;
      align-items: center;
      .logo {
        height: 100%;
        display: flex;
        align-items: center;
        img {
          width: auto;
          height: 60px;
          display: inline-block;
        }
      }
      .lawyer {
        padding-left: 20px;
        .name {
          font-size: 32px;
          font-weight: 600;
          color: $font-color-main;
          padding-bottom: 5px;
        }
        .en {
          font-size: 13px;
          color: $font-color-sub;
        }
      }
    }
    .right-wrapper {
      height: 100%;
      display: flex;
      .web-nav {
        height: 100%;
        position: relative;
        .nav-list {
          height: 100%;
          @include flex-between-x-center-y;
          margin: 0;
          .nav-item {
            height: 100%;
            display: flex;
            align-content: center;
            color: $font-color-main;
            a {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              height: 100%;
              padding: 0 30px;
              font-size: 16px;
              color: currentColor;
              text-decoration: none;
              transition: 0.3s;
              span {
                display: block;
                padding-top: 5px;
                font-size: 12px;
              }
            }
            &.active {
              color: $white;
              a {
                background-color: $theme-sub-color;
              }
            }
          }
        }
        .line {
          height: 2px;
          background-color: $theme-color;
          position: absolute;
          bottom: 0;
          z-index: 9;
        }
      }

      .phone {
        padding: 0 38px;
        height: 100%;
        display: flex;
        align-items: center;
        background-color: $theme-color;
        color: $white;
        .iconfont {
          font-size: 40px;
        }
        .info {
          padding-left: 20px;
          .title {
            font-size: 13px;
            padding-bottom: 10px;
          }
          .phone-number {
            font-size: 26px;
            font-family: Didot;
          }
        }
      }
    }
  }
}

// 主要内容
.main-content {
  min-height: calc(100vh - 210px);
  &.gray {
    background-color: #ebeced;
  }
}

// 分页
.pagination-wrapper {
  padding: 40px;
  display: flex;
  justify-content: center;
}

// 面包屑导航
.bread-nav {
  .bread-nav-container {
    display: flex;
    align-items: center;
    font-size: 14px;
    .first {
      display: inline-block;
      color: $font-color-sub;
      &::before {
        @include iconfont;
        content: "\e96d";
      }
    }
    .medium {
      display: inline-block;
      color: $font-color-sub;
      &::after {
        display: inline-block;
        margin: 0 5px;
        @include iconfont;
        content: "\e96c";
        transform: rotate(180deg);
      }
      &:hover {
        color: $theme-sub-color;
      }
    }
    .last {
      color: $theme-sub-color;
    }
  }
}

// banner
.banner {
  height: 570px;
  &.line {
    border-bottom: 4px solid $theme-color;
  }
  .image {
    @include bg-cover;
    height: 570px;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    -ms-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 1;
    margin: 0 8px !important;
  }
  .swiper-pagination-bullet-active {
    background-color: $theme-color;
  }
  position: relative;
  &::after {
    content: "";
    display: block;
    width: 1330px;
    height: 33px;
    background: url(../images/banner_shadow.png) no-repeat top center;
    position: absolute;
    left: 50%;
    top: 570px;
    z-index: 99;
    transform: translate3d(-50%, 0, 0);
  }
}

// 公用块标题
.common-title {
  margin: 0 auto;
  position: relative;
  text-align: center;
  color: $font-color-main;
  &.white {
    color: #ffffff;
  }
  &::after {
    content: "";
    display: block;
    width: 72px;
    height: 18px;
    border-radius: 9px;
    background-color: $theme-color;
    position: absolute;
    left: 50%;
    top: 12px;
    z-index: 0;
    transform: translate3d(-50%, 0, 0);
  }
  .cn {
    font-size: 22px;
    font-weight: 600;
    color: currentColor;
    padding-bottom: 4px;
    position: relative;
    z-index: 1;
  }
  .en {
    font-size: 22px;
    color: currentColor;
    opacity: 0.8;
    position: relative;
    z-index: 1;
  }
}

// 每一块得标题背景
.bg-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%,0,0);
  z-index: -1;
  font-size: 220px;
  opacity: 0.05;
  line-height: 160px;
  font-weight: 600;
  &.light {
    color: #ffffff;
  }
}

// 下一页
.next-page {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color:  $theme-sub-color;
  border: 1px solid currentColor;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translate3d(-50%,0,0);
  &::after {
    @include iconfont;
    content: "\e923";
    transform: rotate(90deg);
    color: currentColor;
    position: relative;
    left: -1px;
  }
  &.light {
    color: $white;
  }
}

// 内页导航
.inline-nav {
  position: relative;
  top: -50px;
  z-index: 9999;
  .inline-nav-container {
    border-radius: 10px;
    overflow: hidden;
    background-color: $white;
    @include box-shadow;
    .inline-nav-wrapper {
      display: flex;
      align-items: center;
      .left-wrapper {
        flex: 0 0 190px;
        width: 190px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $theme-sub-color;
        .page-name {
          color: $white;
          .cn {
            font-size: 26px;
          }
          .en {
            font-size: 18px;
          }
        }
      }
      .right-wrapper {
        .nav-item {
          display: block;
          width: 112px;
          border-radius: 20px;
          line-height: 40px;
          text-align: center;
          font-size: 18px;
          color: $font-color-main;
          &.active {
            background-color: $theme-sub-color;
            color: $white;
          }
        }
      }
    }
  }
}

// 底部
.web-footer {
  background-color: #12131a;
  .footer-container {
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .text {
      text-align: center;
      font-size: 14px;
      color: $white;
      opacity: 0.8;
      line-height: 1.8;
    }
  }
}
