/* 图片 */

.cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.cover .image {
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.cover.hover:hover .image {
  transform: scale3d(1.05, 1.05, 1.05);
}

.cover.black::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.static-banner {
  height: 100vh;
  position: relative;
  overflow: hidden;
  @include flex-center-x-center-y;
  &.aboutus {
    height: calc(100vh + 110px);
  }
  .bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    @include bg-cover;
    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba($color: #000000, $alpha: 0.3);
    }
  }
  .content {
    padding: 50px;
    color: $white;
    text-align: center;
    h2 {
      font-size: 60px;
      font-weight: 900;
      margin-bottom: 30px;
      letter-spacing: 2px;
    }
    p {
      font-size: 20px;
      font-family: Arial;
      letter-spacing: 0.3em;
      color: rgba($color: #fff, $alpha: 0.6);
      margin-bottom: 0;
    }
  }
}

// 下滑继续
.scroll-button {
  width: 60px;
  opacity: 0.6;

  .text {
    font-size: 13px;
    color: #ffffff;
    text-align: center;
    padding-bottom: 10px;
  }
  .icon {
    width: 46px;
    height: 46px;
    box-sizing: border-box;
    border: 2px solid $white;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;

    &::after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-top: 5px solid $white;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
  }
}

// 内页导航

.page-title {
  &.tc {
    text-align: center;
  }
  .cn {
    font-size: 24px;
    color: #363278;
    letter-spacing: 0.2em;
    &.lg {
      font-size: 40px;
    }
    &.white {
      color: $white;
    }
  }
  .en {
    font-size: 20px;
    font-weight: 600;
    color: #9d9d9d;
    &.sm {
      font-size: 18px;
    }
    &.white {
      color: $white;
    }
  }
}

// 图片预览
.picture-view-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000000;
  background-color: rgba($color: #000000, $alpha: 0.8);
  display: none;
  .content {
    position: absolute;
    left: 100px;
    right: 100px;
    top: 100px;
    bottom: 100px;
    z-index: 1;
    @include flex-center-x-center-y;
    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
    video {
      width: 100%;
      height: 100%;
    }
  }
  .icon {
    display: block;
    padding: 20px;
    position: absolute;
    right: 40px;
    top: 40px;
    z-index: 20;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
    &:hover {
      color: $red;
    }
  }
}

// 分页
.paging {
  padding-top: 46px;
  display: flex;
  justify-content: space-between;
}

.paging__prev,
.paging__next {
  width: 87px;
  height: 55px;
  flex: 0 0 87px;
  background-color: $theme-color;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
}

.paging__prev.deep,
.paging__next.deep {
  background-color: #c6c6c6;
  color: #111111;
}

.paging__prev .iconfont {
  font-size: 24px;
}

.paging__next .iconfont {
  font-size: 24px;
}

.paging .pages {
  flex: 1;
  background-color: #edca77;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paging .pages .page-num {
  padding: 0 15px;
  height: 32px;
  line-height: 32px;
  font-size: 13px;
  color: #ffffff;
  font-weight: 600;
}

.paging .pages .page-num.active {
  background-color: #ffffff;
  color: $theme-color;
}

@media (max-width: 1600px) {
  .static-banner {
    .content {
      h2 {
        font-size: 30px;
        margin-bottom: 20px;
      }
      p {
        font-size: 12px;
      }
    }
  }

  .page-title {
    text-align: center;
    .cn {
      font-size: 30px;
      &.lg {
        font-size: 30px;
      }
    }
    .en {
      font-size: 12px;
    }
  }
}

@media (max-width: 1200px) {
  .static-banner {
    height: 200px;
    &.aboutus {
      height: 200px;
    }
    .content {
      padding: 20px;
      color: $white;
      text-align: center;
      h2 {
        font-size: 20px;
        margin-bottom: 10px;
      }
      p {
        font-size: 12px;
      }
    }
  }

  .page-title {
    text-align: center;
    .cn {
      font-size: 24px;
      &.lg {
        font-size: 24px;
      }
    }
    .en {
      font-size: 12px;
    }
  }

  // 图片预览
  .picture-view-container {
    .content {
      position: absolute;
      left: 20px;
      right: 20px;
      top: 20px;
      bottom: 20px;
    }
    .icon {
      right: 20px;
      top: 20px;
      z-index: 20;
      font-size: 20px;
    }
  }

  // 分页
  .paging {
    padding-top: 26px;
    display: flex;
    justify-content: space-between;
  }

  .paging__prev,
  .paging__next {
    width: 57px;
    height: 35px;
    flex: 0 0 57px;
    background-color: $theme-color;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
  }

  .paging__prev.deep,
  .paging__next.deep {
    background-color: #c6c6c6;
    color: #111111;
  }

  .paging__prev .iconfont {
    font-size: 18px;
  }

  .paging__next .iconfont {
    font-size: 18px;
  }

  .paging .pages {
    flex: 1;
    background-color: #edca77;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .paging .pages .page-num {
    padding: 0 10px;
    height: 32px;
    line-height: 32px;
    font-size: 13px;
    color: #ffffff;
    font-weight: 600;
  }

  .paging .pages .page-num.active {
    background-color: #ffffff;
    color: $theme-color;
  }
}
