/* 底部 */

.web-footer {
  padding: 50px 0;
  background-color:#E8AD23;

  .footer-content {
    width: 83%;
    margin: 0 auto;
    .top {
      width: 100%;
      display: flex;
      .left {
        flex: 1;
        padding-top: 30px;
        .web-footer__links {
          position: relative;
          overflow: hidden;
          .select {
            float: left;
            border: none;
            width: 430px;
            height: 57px;
            background-color: rgba($color: #ffffff, $alpha: .3);
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            outline: none;
            text-indent: 10px;
            color: #ffffff;
            option {
              color: #333;
            }
          }
          .icon {
            float: left;
            display: block;
            width: 57px;
            height: 57px;
            background-color: #ffffff;
            transform: rotate(90deg);
            color: #111111;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

     
      }
      .right {
        flex: 1;
        .footer-nav {
          display: flex;
          flex-wrap: wrap;
          .footer-nav-item {
            color: #ffffff;
            & + .footer-nav-item {
              margin-left: 60px;
            }
            .main {
              display: block;
              font-size: 16px;
              color: currentColor;
            }
            .line {
              display: block;
              height: 40px;
              margin-top: 40px;
              margin-left: 10px;
              position: relative;
              &::after {
                content: "";
                display: block;
                width: 30px;
                height: 0;
                border-bottom: 1px solid currentColor;
                transform: rotate(-40deg);
              }
            }
            .sub {
              display: block;
              font-size: 14px;
              color: currentColor;
              line-height: 1.8;
            }
          }
        }
      }
    }

    .bottom {
      width: 100%;
      color: #ffffff;
      .p1 {
        font-size: 18px;
        padding-bottom: 20px;
      }
      .p2 {
        font-size: 18px;
        line-height: 1.6;
      }
      .p3 {
        padding-top: 20px;
        font-size: 16px;
        opacity: .6;
      }
    }
  }
}