@media (min-width: 1200px) {
  .full-container {
    width: 98%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    .full-wrapper {
      width: 100%;
      display: flex;
      &.center-y {
        align-items: center;
      }
      .content {
        box-sizing: border-box;
        width: 100%;
      }
    }
    .half-wrapper {
      width: 50%;
      display: flex;
      &.center-y {
        align-items: center;
      }
      &.right {
        // flex-direction: row-reverse;
      }
      .content {
        width: 100%;
      }
    }
  }
}

@media (max-width: 1199px) {
  .full-container {
    .full-wrapper {
      width: 100%;
      display: block;
      &.center-y {
        align-items: center;
      }
      .content {
        padding: 0 20px;
        display: block;
      }
    }
    .half-wrapper {
      width: 100%;
      display: flex;
      &.center-y {
        align-items: center;
      }
      .content {
        box-sizing: border-box;
        width: 100%;
        padding: 0 20px;
      }
    }
  }
}